@(pageTitle: String, clients: java.util.List[models.Client])

@scripts = {
    <script>
            $(document).ready(function() {
                $('.liclickable').click(function (e) {
                    e.preventDefault();
                    var self = $(this),
                            controler = self.data('infos') || self.attr('data-infos');
                    $("#sidebar ul li").removeClass('active');
                    $(this).addClass('active');

                    eval("jsRoutes.controllers."+controler).ajax({
                        success: function(html) {

                            var result = $('#refresh',html);
                            $('#refresh').empty().html(result);
                        },
                        //Case we have a problem
                        error: function(errorMessage){
                            alert(errorMessage);
                        }
                    });
                });

                $("body").load(function(){
                    updateMenu();
                });

                function updateMenu()
                {
                    var navHeader = document.getElementById('nav-header');
                    $(navHeader).addClass('nav-header-admin');
                    $('.navbar').css("cssText", "background-color : #e74c3c !important;border-color : #e74c3c !important; transition: none;");
                    $('.pear-theme').css("cssText", "background-color : #e74c3c !important;border-color : #e74c3c !important;");
                }
                updateMenu();
            });




    </script>
}

@content = {
    <div id="wrapper" class="ng-scope">
        @sidebar("ClientAdmin")

        <div id="page-wrapper" class="gray-bg dashbard-1">
            @topbar()
            <div id="refresh" >
                <div class="ibox-content">
                    <div class="row row-options-admin-client">
                        <div class="col-sm-3">
                            <div class="checkbox checkbox-danger checkbox-circle">
                                <input id="checkBoxClientsArchived" class="styled" type="checkbox" onclick="clientsArchived()">
                                <label for="checkBoxClientsArchived"> @Messages("showArchivedClients") </label>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive table-responsive-admin-client">
                        <table id="dataTables-admin-client" class="table table-striped table-bordered table-hover" >
                            <thead>
                                <tr>
                                    <th>@Messages("client")</th>
                                    <th>@Messages("adress")</th>
                                    <th>@Messages("nbContacts")</th>
                                    <th>@Messages("nbProjects")</th>
                                    <th>@Messages("nbTasks")</th>
                                    <th>@Messages("priority")</th>
                                    <th>@Messages("archived")</th>
                                    <th><i class="fa fa-trash"></i></th>
                                </tr>
                            </thead>
                            <tbody id="dataTables-admin-client-body">

                                <!-- Boucle sur la liste des clients -->
                                @for(client <- clients) {
                                    <tr value="@client.id">
                                        <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">@client.nom</td>
                                        <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">@client.adresseClient</td>
                                        <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">@client.listContactsSize</td>
                                        <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">@client.listProjetsSize</td>
                                        <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">@client.listTachesSize</td>
                                        <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">@client.priorite</td>
                                        @if(client.archiver){
                                            <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">
                                            @Messages("yes")
                                            </td>
                                        } else {
                                            <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">
                                            @Messages("no")
                                            </td>
                                        }
                                        <td class="td-btn-suppr" style="vertical-align:middle ;" data-toggle="modal" data-target="#modal-suppr-client"><i class="fa fa-times"></i></td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                            <!-- Modal supprimer client -->
                        <div class="modal fade" id="modal-suppr-client" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header background_admin">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title text-white">@Messages("deleteConfirmation")</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>@Messages("clientDeleteMessage") : (nom du projet) ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-admin" data-dismiss="modal">@Messages("yes")</button>
                                        <button type="button" class="btn" data-dismiss="modal">@Messages("no")</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="modal-modif-client" role="dialog">
                            <div class="modal-dialog">
                                <div class="ibox-title background_admin div-center">
                                    <h5 class="text-white inline">@Messages("setClient")</h5>
                                    <div class="ibox-tools">
                                        <button type="button" class="close" data-dismiss="modal">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="row">
                                        <div class="col-sm-6 b-r">
                                            <form class="form-horizontal" id="clientForm">
                                                <div class="row form-group">
                                                    <label class="col-sm-5 control-label" for="formClientName">@Messages("formClientName")</label>
                                                    <div class="col-sm-7"><input type="text" id="formClientName" class="form-control"></div>
                                                </div>
                                                <div class="row form-group">
                                                    <label class="col-sm-5 control-label" for="formClientAdress">@Messages("adress")</label>
                                                    <div class="col-sm-7"><input type="text" id="formClientAdress" class="form-control"></div>
                                                </div>
                                                <div class="row form-group">
                                                    <label class="col-sm-5 control-label" for="formZipCode">@Messages("formZipCode")</label>
                                                    <div class="col-sm-7"><input type="text" id="formZipCode" class="form-control"></div>
                                                </div>
                                                <div class="row form-group">
                                                    <label class="col-sm-5 control-label" for="formCity">@Messages("formCity")</label>
                                                    <div class="col-sm-7"><input type="text" id="formCity" class="form-control"></div>
                                                </div>

                                                <div class="row form-group">
                                                    <label class="col-sm-5 control-label" for="formCountry">@Messages("formCountry")</label>
                                                    <div class="col-sm-7"><input type="text" id="formCountry" class="form-control"></div>
                                                </div>

                                                <div class="row form-group">
                                                    <label class="col-sm-5 control-label">@Messages("priority")</label>
                                                    <div class="col-sm-7">
                                                        <div class="btn-group">
                                                            <button id="client-priority-1" class="btn" type="button" value="1" >1</button>
                                                            <button id="client-priority-2" class="btn btn-active" value="2" type="button">2</button>
                                                            <button id="client-priority-3" class="btn" type="button" value="3">3</button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="div-center">
                                                <h3 class="inline">@Messages("addContact")</h3>
                                                <form class="form-horizontal" id="contactForm">
                                                    <div class="row form-group">
                                                        <label class="col-sm-5 control-label" for="formLastName">@Messages("formLastName")</label>
                                                        <div class="col-sm-7"><input type="text" id="formLastName" class="form-control"></div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <label class="col-sm-5 control-label" for="formFirstName">@Messages("formFirstName")</label>
                                                        <div class="col-sm-7"><input type="text" id="formFirstName" class="form-control"></div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <label class="col-sm-5 control-label" for="formEmail">@Messages("formEmail")</label>
                                                        <div class="col-sm-7"><input type="text" id="formEmail" class="form-control"></div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <label class="col-sm-5 control-label" for="formTel" >@Messages("formTel")</label>
                                                        <div class="col-sm-7"><input type="text" id="formTel" class="form-control"></div>
                                                    </div>
                                                </form>
                                                <button class="btn btn-admin inline" type="submit" form="contactForm">
                                                    <i class="fa fa-plus-square"></i>  @Messages("add")
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h3 style="text-align:center;">@Messages("projects")</h3>
                                            <div class="list-modif-client">
                                                <table id="table-modal-client-projets" class="table-bordered">
                                                    <thead>
                                                        <td></td>
                                                        <td></td>
                                                    </thead>
                                                    <tbody id="table-modal-client-projets-body">
                                                        <!--<tr>
                                                            <td class="first-td">Projet 1</td>
                                                            <td class="td-btn-suppr" style="vertical-align:middle;"><i class="fa fa-times"></i></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="first-td">Projet 1</td>
                                                            <td class="td-btn-suppr" style="vertical-align:middle;"><i class="fa fa-times"></i></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="first-td">Projet 1</td>
                                                            <td class="td-btn-suppr" style="vertical-align:middle;"><i class="fa fa-times"></i></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="first-td">Projet 1</td>
                                                            <td class="td-btn-suppr" style="vertical-align:middle;"><i class="fa fa-times"></i></td>
                                                        </tr>-->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <h3 style="text-align:center;">@Messages("contacts")</h3>
                                            <div class="list-modif-client">
                                                <table id="table-modal-client-contacts" class="table-bordered">
                                                    <thead>
                                                        <td></td>
                                                        <td></td>
                                                    </thead>
                                                    <tbody id="table-modal-client-contacts-body">
                                                       <!-- <tr>
                                                            <td class="first-td">Contact 1</td>
                                                            <td class="td-btn-suppr" style="vertical-align:middle;"><i class="fa fa-times"></i></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="first-td">Contact 1</td>
                                                            <td class="td-btn-suppr" style="vertical-align:middle;"><i class="fa fa-times"></i></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="first-td">Contact 1</td>
                                                            <td class="td-btn-suppr" style="vertical-align:middle;"><i class="fa fa-times"></i></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="first-td">Contact 1</td>
                                                            <td class="td-btn-suppr" style="vertical-align:middle;"><i class="fa fa-times"></i></td>
                                                        </tr>-->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:15px;">
                                        <div class="div-center">
                                            <button class="btn btn-admin" type="submit" form="clientForm">
                                                <i class="fa fa-check-square"></i> @Messages("validate")
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="modal-confirmation-suppr-projet-client" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header background_admin">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title text-white">@Messages("deleteConfirmation")</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>@Messages("projectDeleteMessage") : (nom du projet) ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-admin" data-dismiss="modal">@Messages("yes")</button>
                                        <button type="button" class="btn" data-dismiss="modal">@Messages("no")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="submitButton-admin-client" class="ibox-footer text-center" style="background-color: #27AE62 ; color:#FFF ; height: 40px ; cursor: pointer ;" data-toggle="modal" data-target="#modal-add-client-admin">
                    <h3 style="margin:0px ;"><i class="fa fa-plus-circle" style="margin-right:7px;"></i>@Messages("addClient")</h3>
                </div>
                    <!-- Modal créer client -->
                <div class="modal fade" id="modal-add-client-admin" role="dialog">
                    <div class="modal-dialog">
                            <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title">@Messages("addClient")</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-6 b-r">
                                        <form class="form-horizontal" id="creerClientForm">
                                            <div class="row form-group">
                                                <label class="col-sm-5 control-label" for="formCreerClientName">@Messages("formClientName")</label>
                                                <div class="col-sm-7"><input type="text" id="formCreerClientName" class="form-control"></div>
                                            </div>
                                            <div class="row form-group">
                                                <label class="col-sm-5 control-label" for="formCreerClientAdress">@Messages("adress")</label>
                                                <div class="col-sm-7"><input type="text" id="formCreerClientAdress" class="form-control"></div>
                                            </div>
                                            <div class="row form-group">
                                                <label class="col-sm-5 control-label" for="formCreerClientZipCode">@Messages("formZipCode")</label>
                                                <div class="col-sm-7"><input type="text" id="formCreerClientZipCode" class="form-control"></div>
                                            </div>
                                            <div class="row form-group">
                                                <label class="col-sm-5 control-label" for="formCreerClientCity">@Messages("formCity")</label>
                                                <div class="col-sm-7"><input type="text" id="formCreerClientCity" class="form-control"></div>
                                            </div>

                                            <div class="row form-group">
                                                <label class="col-sm-5 control-label" for="formCreerClientCountry">@Messages("formCountry")</label>
                                                <div class="col-sm-7"><input type="text" id="formCreerClientCountry" class="form-control"></div>
                                            </div>

                                            <div class="col-sm-6">@Messages("priority")
                                                <div class="btn-group" style="display: inline-block ;">
                                                    <button class="btn" type="button" value="1" >1</button>
                                                    <button class="btn  btn-active" value="2" type="button">2</button>
                                                    <button class="btn" type="button" value="3">3</button>
                                                </div>
                                            </div>

                                        </form>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="div-center">
                                            <h3 class="inline">@Messages("addContact")</h3>
                                            <form class="form-horizontal" id="contactFormCreerClient">
                                                <div class="row form-group">
                                                    <label class="col-sm-5 control-label" for="formLastNameCreerClient">@Messages("formLastName")</label>
                                                    <div class="col-sm-7"><input type="text" id="formLastNameCreerClient" class="form-control"></div>
                                                </div>
                                                <div class="row form-group">
                                                    <label class="col-sm-5 control-label" for="formFirstNameCreerClient">@Messages("formFirstName")</label>
                                                    <div class="col-sm-7"><input type="text" id="formFirstNameCreerClient" class="form-control"></div>
                                                </div>
                                                <div class="row form-group">
                                                    <label class="col-sm-5 control-label" for="formEmailCreerClient">@Messages("formEmail")</label>
                                                    <div class="col-sm-7"><input type="text" id="formEmailCreerClient" class="form-control"></div>
                                                </div>
                                                <div class="row form-group">
                                                    <label class="col-sm-5 control-label" for="formTelCreerClient" >@Messages("formTel")</label>
                                                    <div class="col-sm-7"><input type="text" id="formTelCreerClient" class="form-control"></div>
                                                </div>
                                            </form>
                                            <button class="btn btn-primary inline" type="submit" form="contactFormCreerClient">
                                                <i class="fa fa-plus-square"></i>  @Messages("add")
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="display:none;">
                                    <div class="col-sm-offset-3 col-sm-6">
                                        <h3 style="text-align:center;">@Messages("contacts")</h3>
                                        <div class="list-modif-client">
                                            <table class="table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <td class="first-td">Contact 1</td>
                                                        <td class="td-btn-suppr" data-toggle="modal" data-target="#modal-confirmation-suppr-tache-client"  style="vertical-align:middle;"><i class="fa fa-times"></i></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="first-td">Contact 1</td>
                                                        <td class="td-btn-suppr" data-toggle="modal" data-target="#modal-confirmation-suppr-tache-client"  style="vertical-align:middle;"><i class="fa fa-times"></i></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="first-td">Contact 1</td>
                                                        <td class="td-btn-suppr" data-toggle="modal" data-target="#modal-confirmation-suppr-tache-client"  style="vertical-align:middle;"><i class="fa fa-times"></i></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="first-td">Contact 1</td>
                                                        <td class="td-btn-suppr" data-toggle="modal" data-target="#modal-confirmation-suppr-tache-client"  style="vertical-align:middle;"><i class="fa fa-times"></i></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="ibox-footer text-center" style="background-color: #27AE62;color:#FFF;height: 40px;cursor: pointer;">
                                    <h3 style="margin:0px;">@Messages("saveClient")</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@main(pageTitle,content, scripts)