@(pageTitle: String)

@scripts = {
    <script>
            $(document).ready(function() {
                $('.liclickable').click(function (e) {
                    e.preventDefault();
                    var self = $(this),
                            controler = self.data('infos') || self.attr('data-infos');
                    $('#sidebar ul li').removeClass('active');
                    $(this).addClass('active');

                    eval("jsRoutes.controllers."+controler).ajax({
                        success: function(html) {
                            var result = $('#refresh',html);
                            $('#refresh').empty().html(result);
                        },
                        //Case we have a problem
                        error: function(errorMessage){
                            alert(errorMessage);
                        }
                    });
                });

            });
    </script>
}

@content = {
    <div id="wrapper" class="ng-scope">
        <div class="ng-scope">
            <nav class="navbar-default navbar-static-side ng-scope" role="navigation">
                <div id="sidebar" class="sidebar-collapse">
                    <ul class="nav metismenu" id="side-menu">
                        <li class="nav-header">
                            <div>
                                <span><img alt="image" class="img-circle" src="img/profile_small.jpg" /></span>
                                <span class="block m-t-xs" style="color:white;"> <strong class="font-bold">David Williams</strong> </span>
                            </div>
                        </li>

                        <li class="liclickable" data-infos="DashboardController.afficherDashboard()">
                            <a ><img src="img/MyIcons/png/map158.png" alt="image" class="icone"> <span class="nav-label" style="padding-left:7px;">Dashboard</span></a>
                        </li>

                        <li class="liclickable" data-infos="ProjetController.afficherProjets()">
                            <a><img src="img/MyIcons/png/bars62.png" alt="image" class="icone"> <span class="nav-label" style="padding-left:7px;">Projets</span></a>
                        </li>
                        <li class="liclickable" data-infos="ClientController.afficherClients()">
                            <a ><img src="img/MyIcons/png/team2.png" alt="image" class="icone"> <span class="nav-label" style="padding-left:7px;">Clients</span></a>

                        </li>
                        <li class="liclickable" data-infos="ProjetController.afficherCreerProjet()">
                            <a ><img src="img/MyIcons/png/add182.png" alt="image" class="icone"> <span class="nav-label" style="padding-left:7px;">Créer un projet</span></a>
                        </li>
                        <li class="liclickable" data-infos="ClientController.afficherCreerClient()">
                            <a ><img src="img/MyIcons/png/add182.png" alt="image" class="icone"> <span class="nav-label" style="padding-left:7px;">Créer un client</span></a>

                        </li>

                        <li style="pointer-events: none; cursor: default; background-color:red;">
                        <a> <span class="nav-label" style="color:white; padding-right:10px;" >Administrateur </span><img src="img/MyIcons/png/locked59-white.png" alt="image" class="icone"></a>
                        </li>

                        <li class="liclickable" data-infos="AdminController.afficherAdminProjets()">
                            <a ><img src="img/MyIcons/png/bars62.png" alt="image" class="icone" style="margin-left: 20px;"> <span style="padding-left:7px;"class="nav-label">Projets </span></a>
                        </li>
                        <li class="liclickable active" data-infos="AdminController.afficherAdminClients()">
                            <a ><img src="img/MyIcons/png/team2.png" alt="image" class="icone" style="margin-left: 20px;"> <span style="padding-left:7px;" class="nav-label">Clients </span></a>
                        </li>
                        <li class="liclickable" data-infos="AdminController.afficherAdminUtilisateur()">
                            <a ><img src="img/MyIcons/png/useravatar9.png" alt="image" class="icone" style="margin-left: 20px;"> <span style="padding-left:7px;" class="nav-label">Utilisateur </span></a>

                        </li>

                    </ul>

                </div>
            </nav>
        </div>

        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-fixed-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <a class="welcome-message">Langage</a>
                        </li>

                        <li class="dropdown" dropdown="">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#" aria-expanded="true">
                                <i class="fa fa-bell"></i>  <span class="label label-warning">8</span>
                            </a>

                            <ul class="dropdown-menu dropdown-messages">
                                <li>
                                    <div class="dropdown-messages-box">
                                        <a href="profile.html" class="pull-left">
                                            <img alt="image" class="img-circle" src="img/a7.jpg">
                                        </a>
                                        <div class="media-body">
                                            <small class="pull-right">46h ago</small>
                                            <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                                            <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="dropdown-messages-box">
                                        <a href="profile.html" class="pull-left">
                                            <img alt="image" class="img-circle" src="img/a4.jpg">
                                        </a>
                                        <div class="media-body ">
                                            <small class="pull-right text-navy">5h ago</small>
                                            <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
                                            <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="dropdown-messages-box">
                                        <a href="profile.html" class="pull-left">
                                            <img alt="image" class="img-circle" 1>
                                        </a>
                                        <div class="media-body ">
                                            <small class="pull-right">23h ago</small>
                                            <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                                            <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="text-center link-block">
                                        <a href="mailbox.html">
                                            <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                    <li>
                        <a href="login.html">
                            <i class="fa fa-sign-out"></i> Déconnexion
                        </a>
                    </li>
                        <li>
                            <a class="right-sidebar-toggle">
                                <i class="fa fa-tasks"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div id="refresh" >

                <div class="row wrapper border-bottom admin-bg page-heading">
                    <div class="col-sm-4" style="height:50px">
                        <!-- Bandeau rouge -->
                    </div>

                </div>

                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-3" style="float:left;">
                            <div class="checkbox checkbox-info checkbox-circle">
                                <input id="checkbox8" class="styled" type="checkbox">
                                <label for="checkbox8"> @Messages("showArchivedClients") </label>
                            </div>
                        </div>

                      <!--  <div class="col-sm-3" style="float:right;">
                            <div class="input-group">
                                <input type="text" class="input-sm form-control">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-admin"> <i class="fa fa-search"/></button>
                                </span>
                            </div>
                        </div>-->
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example" >
                            <thead>
                                <tr>
                                    <th>@Messages("client")</th>
                                    <th>@Messages("adress")</th>
                                    <th>@Messages("nbContacts")</th>
                                    <th>@Messages("nbProjects")</th>
                                    <th>@Messages("nbTasks")</th>
                                    <th>@Messages("priority")</th>
                                    <th><i class="fa fa-trash"/></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-toggle="modal" data-target="#myModal">
                                    <td>Auchan</td>
                                    <td>92 rue Réaumur 75002 Paris</td>
                                    <td>23</td>
                                    <td>5</td>
                                    <td>112</td>
                                    <td>1</td>
                                    <td><i class="fa fa-times-circle"/></td>
                                </tr>
                                <tr data-toggle="modal" data-target="#myModal">
                                    <td>LCL</td>
                                    <td>18 rue de la République \n 69002 Lyon</td>
                                    <td>11</td>
                                    <td>1</td>
                                    <td>28</td>
                                    <td>2</td>
                                    <td><i class="fa fa-times-circle"/></td>
                                </tr>
                                <tr data-toggle="modal" data-target="#myModal">
                                    <td>PoPS5 Inc.</td>
                                    <td>9 Rue Joliot Curie 91120 Gif-sur-Yvette</td>
                                    <td>2</td>
                                    <td>1</td>
                                    <td>37</td>
                                    <td>2</td>
                                    <td><i class="fa fa-times-circle"/></td>
                                </tr>
                                <tr data-toggle="modal" data-target="#myModal">
                                    <td>Société Générale</td>
                                    <td>4 Ter Rue de Paris 91400 Orsay</td>
                                    <td>16</td>
                                    <td>1</td>
                                    <td>91</td>
                                    <td>2</td>
                                    <td><i class="fa fa-times-circle"/></td>
                                </tr>
                                <tr data-toggle="modal" data-target="#myModal">
                                    <td>La banque Postale</td>
                                    <td>11 Rue Bourseul, 75015 Paris</td>
                                    <td>31</td>
                                    <td>2</td>
                                    <td>31</td>
                                    <td>1</td>
                                    <td><i class="fa fa-times-circle"/></td>
                                </tr>
                                <tr data-toggle="modal" data-target="#myModal">
                                    <td>Atos</td>
                                    <td>80 Quai Voltaire, 95870 Bezons</td>
                                    <td>7</td>
                                    <td>1</td>
                                    <td>12</td>
                                    <td>3</td>
                                    <td><i class="fa fa-times-circle"/></td>
                                </tr>
                                <tr data-toggle="modal" data-target="#myModal">
                                    <td>EDF</td>
                                    <td>résid Foulon, 91140 Villebon-sur-Yvette</td>
                                    <td>2</td>
                                    <td>1</td>
                                    <td>12</td>
                                    <td>2</td>
                                    <td><i class="fa fa-times-circle"/></td>
                                </tr>
                                <tr data-toggle="modal" data-target="#myModal">
                                    <td>CEA</td>
                                    <td>Centre d'Etudes, 91190 Gif-sur-Yvette</td>
                                    <td>12</td>
                                    <td>2</td>
                                    <td>21</td>
                                    <td>2</td>
                                    <td><i class="fa fa-times-circle"/></td>
                                </tr>
                                <tr data-toggle="modal" data-target="#myModal">
                                    <td>MAAF</td>
                                    <td>1 rue de Chartres, 91400 Orsay</td>
                                    <td>2</td>
                                    <td>1</td>
                                    <td>60</td>
                                    <td>2</td>
                                    <td><i class="fa fa-times-circle"/></td>
                                </tr>
                                <tr data-toggle="modal" data-target="#myModal">
                                    <td>Matmut</td>
                                    <td>41 boulevard Dubreuil, 91400 Orsay</td>
                                    <td>3</td>
                                    <td>1</td>
                                    <td>12</td>
                                    <td>1</td>
                                    <td><i class="fa fa-times-circle"/></td>
                                </tr>
                                <tr data-toggle="modal" data-target="#myModal">
                                    <td>MAIF</td>
                                    <td>37 boulevard Dubreuil, 91400 Orsay</td>
                                    <td>5</td>
                                    <td>1</td>
                                    <td>49</td>
                                    <td>1</td>
                                    <td><i class="fa fa-times-circle"/></td>
                                </tr>
                                <tr data-toggle="modal" data-target="#myModal">
                                    <td>La Chocolatine</td>
                                    <td>55 rue de Paris, 91400 Orsay</td>
                                    <td>7</td>
                                    <td>3</td>
                                    <td>11</td>
                                    <td>1</td>
                                    <td><i class="fa fa-times-circle"/></td>
                                </tr>
                                <tr data-toggle="modal" data-target="#myModal">
                                    <td>Le Moulin de Gasny</td>
                                    <td>12 rue Boursier, 91400 Orsay</td>
                                    <td>15</td>
                                    <td>5</td>
                                    <td>15</td>
                                    <td>1</td>
                                    <td><i class="fa fa-times-circle"/></td>
                                </tr>
                            </tbody>
                        </table>

                            <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">
                                <div class="ibox-title background_admin">
                                    <h5 class="text-white">@Messages("setClient")</h5>
                                    <div class="ibox-tools">
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="row">
                                        <div class="col-sm-6 b-r">
                                            <form role="form-horizontal" id="clientForm">
                                                <div class="form-group">
                                                    <label class="col-lg-5 control-label">@Messages("formClientName")</label>
                                                    <div class="col-lg-7"><input type="text" class="form-control"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-5 control-label">@Messages("adress")</label>
                                                    <div class="col-lg-7"><input type="text" class="form-control"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-5 control-label">@Messages("formZipCode")</label>
                                                    <div class="col-lg-7"><input type="text" class="form-control"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-5 control-label">@Messages("formCity")</label>
                                                    <div class="col-lg-7"><input type="text" class="form-control"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-5 control-label">@Messages("formCountry")</label>
                                                    <div class="col-lg-7"><input type="text" class="form-control"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-5 control-label">@Messages("priority")</label>
                                                    <div class="col-lg-7">
                                                        <label class="radio-inline"><input type="radio" name="optradio">1</label>
                                                        <label class="radio-inline"><input type="radio" name="optradio">2</label>
                                                        <label class="radio-inline"><input type="radio" name="optradio">3</label>
                                                    </div>

                                                </div>

                                            </form>
                                        </div>
                                        <div class="col-sm-6">
                                            <h4>@Messages("projects")</h4>
                                            <div>
                                                <p>TODO BLOC PROJETS</p>
                                            </div>
                                            <h4>@Messages("addContact")</h4>
                                            <form role="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-lg-5 control-label">@Messages("formLastName")</label>
                                                    <div class="col-lg-7"><input type="text" class="form-control"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-5 control-label">@Messages("formFirstName")</label>
                                                    <div class="col-lg-7"><input type="text" class="form-control"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-5 control-label">@Messages("formEmail")</label>
                                                    <div class="col-lg-7"><input type="text" class="form-control"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-5 control-label">@Messages("formTel")</label>
                                                    <div class="col-lg-7"><input type="text" class="form-control"></div>
                                                </div>
                                                <button class="btn btn-admin" type="submit">@Messages("add")</button>

                                            </form>
                                        </div>
                                        <div class="scroll-pane col-sm-4">

                                        </div>
                                        <div class="col-sm-3">
                                            <button class="btn btn-admin" type="submit" form="clientForm">@Messages("validate")</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="footer">
                <div>
                    <strong>Copyright</strong> Pear Corporation &copy; 2015-2016
                </div>
            </div>

        </div>

            <!-- Partie droite, les settings -->
        <div id="right-sidebar">
            <div class="sidebar-container">

                <ul class="nav nav-tabs navs-3">

                    <li class="active"><a data-toggle="tab" href="#tab-1">
                        Notes
                    </a></li>
                    <li><a data-toggle="tab" href="#tab-2">
                        Projects
                    </a></li>
                    <li class=""><a data-toggle="tab" href="#tab-3">
                        <i class="fa fa-gear"></i>
                    </a></li>
                </ul>

                <div class="tab-content">


                    <div id="tab-1" class="tab-pane active">

                        <div class="sidebar-title">
                            <h3> <i class="fa fa-comments-o"></i> Latest Notes</h3>
                            <small><i class="fa fa-tim"></i> You have 10 new message.</small>
                        </div>

                        <div>

                            <div class="sidebar-message">
                                <a href="#">
                                    <div class="pull-left text-center">
                                        <img alt="image" class="img-circle message-avatar" src="img/a1.jpg">

                                        <div class="m-t-xs">
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">

                                        There are many variations of passages of Lorem Ipsum available.
                                        <br>
                                        <small class="text-muted">Today 4:21 pm</small>
                                    </div>
                                </a>
                            </div>
                            <div class="sidebar-message">
                                <a href="#">
                                    <div class="pull-left text-center">
                                        <img alt="image" class="img-circle message-avatar" src="img/a2.jpg">
                                    </div>
                                    <div class="media-body">
                                        The point of using Lorem Ipsum is that it has a more-or-less normal.
                                        <br>
                                        <small class="text-muted">Yesterday 2:45 pm</small>
                                    </div>
                                </a>
                            </div>
                            <div class="sidebar-message">
                                <a href="#">
                                    <div class="pull-left text-center">
                                        <img alt="image" class="img-circle message-avatar" src="img/a3.jpg">

                                        <div class="m-t-xs">
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        Mevolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                        <br>
                                        <small class="text-muted">Yesterday 1:10 pm</small>
                                    </div>
                                </a>
                            </div>


                            <div class="sidebar-message">
                                <a href="#">
                                    <div class="pull-left text-center">
                                        <img alt="image" class="img-circle message-avatar" src="img/a7.jpg">
                                    </div>
                                    <div class="media-body">
                                        Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                                        <br>
                                        <small class="text-muted">Yesterday 2:45 pm</small>
                                    </div>
                                </a>
                            </div>
                            <div class="sidebar-message">
                                <a href="#">
                                    <div class="pull-left text-center">
                                        <img alt="image" class="img-circle message-avatar" src="img/a3.jpg">

                                        <div class="m-t-xs">
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below.
                                        <br>
                                        <small class="text-muted">Yesterday 1:10 pm</small>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>

                    <div id="tab-2" class="tab-pane">

                        <div class="sidebar-title">
                            <h3> <i class="fa fa-cube"></i> Latest projects</h3>
                            <small><i class="fa fa-tim"></i> You have 14 projects. 10 not completed.</small>
                        </div>

                        <ul class="sidebar-list">
                            <li>
                                <a href="#">
                                    <div class="small pull-right m-t-xs">9 hours ago</div>
                                    <h4>Business valuation</h4>
                                    It is a long established fact that a reader will be distracted.

                                    <div class="small">Completion with: 22%</div>
                                    <div class="progress progress-mini">
                                        <div style="width: 22%;" class="progress-bar progress-bar-warning"></div>
                                    </div>
                                    <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="small pull-right m-t-xs">9 hours ago</div>
                                    <h4>Contract with Company </h4>
                                    Many desktop publishing packages and web page editors.

                                    <div class="small">Completion with: 48%</div>
                                    <div class="progress progress-mini">
                                        <div style="width: 48%;" class="progress-bar"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="small pull-right m-t-xs">9 hours ago</div>
                                    <h4>Meeting</h4>
                                    By the readable content of a page when looking at its layout.

                                    <div class="small">Completion with: 14%</div>
                                    <div class="progress progress-mini">
                                        <div style="width: 14%;" class="progress-bar progress-bar-info"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="label label-primary pull-right">NEW</span>
                                    <h4>The generated</h4>
                                        <!--<div class="small pull-right m-t-xs">9 hours ago</div>-->
                                        There are many variations of passages of Lorem Ipsum available.
                                    <div class="small">Completion with: 22%</div>
                                    <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="small pull-right m-t-xs">9 hours ago</div>
                                    <h4>Business valuation</h4>
                                    It is a long established fact that a reader will be distracted.

                                    <div class="small">Completion with: 22%</div>
                                    <div class="progress progress-mini">
                                        <div style="width: 22%;" class="progress-bar progress-bar-warning"></div>
                                    </div>
                                    <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="small pull-right m-t-xs">9 hours ago</div>
                                    <h4>Contract with Company </h4>
                                    Many desktop publishing packages and web page editors.

                                    <div class="small">Completion with: 48%</div>
                                    <div class="progress progress-mini">
                                        <div style="width: 48%;" class="progress-bar"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="small pull-right m-t-xs">9 hours ago</div>
                                    <h4>Meeting</h4>
                                    By the readable content of a page when looking at its layout.

                                    <div class="small">Completion with: 14%</div>
                                    <div class="progress progress-mini">
                                        <div style="width: 14%;" class="progress-bar progress-bar-info"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="label label-primary pull-right">NEW</span>
                                    <h4>The generated</h4>
                                        <!--<div class="small pull-right m-t-xs">9 hours ago</div>-->
                                        There are many variations of passages of Lorem Ipsum available.
                                    <div class="small">Completion with: 22%</div>
                                    <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
                                </a>
                            </li>

                        </ul>

                    </div>

                    <div id="tab-3" class="tab-pane">

                        <div class="sidebar-title">
                            <h3><i class="fa fa-gears"></i> Settings</h3>
                            <small><i class="fa fa-tim"></i> You have 14 projects. 10 not completed.</small>
                        </div>

                        <div class="setings-item">
                            <span>
                                Show notifications
                            </span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" nom="collapsemenu" class="onoffswitch-checkbox" id="example">
                                    <label class="onoffswitch-label" for="example">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
                            <span>
                                Disable Chat
                            </span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" nom="collapsemenu" checked class="onoffswitch-checkbox" id="example2">
                                    <label class="onoffswitch-label" for="example2">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
                            <span>
                                Enable history
                            </span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" nom="collapsemenu" class="onoffswitch-checkbox" id="example3">
                                    <label class="onoffswitch-label" for="example3">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
                            <span>
                                Show charts
                            </span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" nom="collapsemenu" class="onoffswitch-checkbox" id="example4">
                                    <label class="onoffswitch-label" for="example4">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
                            <span>
                                Offline users
                            </span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" checked nom="collapsemenu" class="onoffswitch-checkbox" id="example5">
                                    <label class="onoffswitch-label" for="example5">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
                            <span>
                                Global search
                            </span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" checked nom="collapsemenu" class="onoffswitch-checkbox" id="example6">
                                    <label class="onoffswitch-label" for="example6">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
                            <span>
                                Update everyday
                            </span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" nom="collapsemenu" class="onoffswitch-checkbox" id="example7">
                                    <label class="onoffswitch-label" for="example7">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="sidebar-content">
                            <h4>Settings</h4>
                            <div class="small">
                                I belive that. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                And typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                Over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

@main(pageTitle,content, scripts)