@(pageTitle: String, projet: models.Projet, utilisateur: models.Utilisateur, clients: List[Client], users: List[Utilisateur])

    @scripts = {
        <script>
                $(document).ready(function() {
                    $('.liclickable').click(function (e) {
                        e.preventDefault();
                        var self = $(this),
                                controler = self.data('infos') || self.attr('data-infos');
                        $('#sidebar ul li').removeClass('active');
                        $(this).addClass('active');
                        eval("jsRoutes.controllers."+controler).ajax({
                            success: function(html) {
                                var result = $('#refresh',html);
                                $('#refresh').empty().html(result);
                            },
                            //Case we have a problem
                            error: function(errorMessage){
                                alert(errorMessage);
                            }
                        });
                    });

                    $( window ).resize(function() {
                        $('.liste-projet').css('height',"100%");
                        height = $('.liste-projet').css('height');
                        height = parseInt(height);
                        height -= 150;
                        $('.liste-projet').css('height',height);
                    });

                    $('.liste-projet').css('height',"100%");
                    height = $('.liste-projet').css('height');
                    height = parseInt(height);
                    height -= 150;
                    $('.liste-projet').css('height',height);

                    $("body").load(function(){
                        updateMenu();
                    });

                    function updateMenu()
                    {
                        var navHeader = document.getElementById('nav-header');
                        $(navHeader).addClass('nav-header-admin');
                        $('.navbar').css("cssText", "background-color : #e74c3c !important;border-color : #e74c3c !important; transition: none;");
                        $('.pear-theme').css("cssText", "background-color : #e74c3c !important;border-color : #e74c3c !important;");
                    }
                    updateMenu();
                });
        </script>
    }

    @content = {
        <div id="wrapper" class="ng-scope">
            @sidebar("ProjetAdminSelect")

            <div id="page-wrapper" class="gray-bg dashbard-1">
                @topbar()


                <div id="refresh" >
                    <div>

                    </div>
                    <div class="row">
                        <div id="afficheRetour" class="cursor-pointer" style="position:fixed ; background-color:#e74c3c ; height: 25px ; width: 170px ; z-index:1999 ; text-align:center ; line-height: 25px ; margin-top: -1px ;">
                            <i id="icon-show-liste-projet" class="fa fa-outdent" style="color:#FFF ;"></i>
                        </div>
                        <div id="col-sidebar-retour" class="col-md-2" style="padding: 0 ;">
                            <div class="sidebar-retour" style="position: fixed ; width: 170px ; z-index: 1998 ; height: 100% ; background-color:#FFF ; box-shadow: 3px 0 5px -4px #333 ; vertical-align:middle ; text-align:center ;">
                                <i id="sidebar-back-select" onclick="afficherAdminProjets()" class="fa fa-reply" style="padding-top: 50% ; cursor: pointer ;"></i>
                            </div>
                        </div>
                        <div id="col-consulterProjet" class="col-md-10">
                        @afficheProjetAdmin(projet,utilisateur,clients,users)
                        </div>
                        @popuptacheConsulterModifier()
                        @popuptacheCreer()
                        @popuptacheSupprimer()
                    </div>
                </div>
            </div>
        </div>
    }

    @main(pageTitle, content, scripts)