@(pageTitle: String)

@scripts = {
    <script>
            $(document).ready(function() {
                $('.liclickable').click(function (e) {
                    e.preventDefault();
                    var self = $(this),
                            controler = self.data('infos') || self.attr('data-infos');
                    $("#sidebar ul li").removeClass('active');
                    $(this).addClass('active');

                    eval("jsRoutes.controllers."+controler).ajax({
                        success: function(html) {

                            var result = $('#refresh',html);
                            $('#refresh').empty().html(result);
                        },
                        //Case we have a problem
                        error: function(errorMessage){
                            alert(errorMessage);
                        }
                    });
                });

                $("body").load(function(){
                    updateMenu();
                });

                function updateMenu()
                {
                    var navHeader = document.getElementById('nav-header');
                    $(navHeader).addClass('nav-header-admin');
                    $('.navbar').css("cssText", "background-color : #e74c3c !important;border-color : #e74c3c !important; transition: none;");
                    $('.pear-theme').css("cssText", "background-color : #e74c3c !important;border-color : #e74c3c !important;");
                }
                updateMenu();
            });




    </script>
}

@content = {
    <div id="wrapper" class="ng-scope">
        @sidebar("ClientAdmin")

        <div id="page-wrapper" class="gray-bg dashbard-1">
            @topbar()
            <div id="refresh" >
                <div class="ibox-content">
                    <div class="row row-options-admin-client">
                        <div class="col-sm-3">
                            <div class="checkbox checkbox-danger checkbox-circle">
                                <input id="checkBoxClientsArchived" class="styled" type="checkbox" onclick="clientsArchived()">
                                <label for="checkBoxClientsArchived"> @Messages("showArchivedClients") </label>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive table-responsive-admin-client">
                        <table id="dataTables-admin-client" class="table table-striped table-bordered table-hover" >
                            <thead>
                                <tr>
                                    <th>@Messages("client")</th>
                                    <th>@Messages("adress")</th>
                                    <th>@Messages("nbContacts")</th>
                                    <th>@Messages("nbProjects")</th>
                                    <th>@Messages("nbTasks")</th>
                                    <th>@Messages("priority")</th>
                                    <th><i class="fa fa-trash"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">Auchan</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">92 rue Réaumur 75002 Paris</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">23</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">5</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">112</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">1</td>
                                    <td class="td-btn-suppr" style="vertical-align:middle;" data-toggle="modal" data-target="#modal-suppr-client"><i class="fa fa-times"></i></td>
                                </tr>
                                <tr>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">LCL</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">18 rue de la République 69002 Lyon</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">11</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">1</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">28</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">2</td>
                                    <td class="td-btn-suppr" style="vertical-align:middle;" data-toggle="modal" data-target="#modal-suppr-client"><i class="fa fa-times"></i></td>
                                </tr>
                                <tr>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">PoPS5 Inc.</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">9 Rue Joliot Curie 91120 Gif-sur-Yvette</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">2</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">1</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">37</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">2</td>
                                    <td class="td-btn-suppr" style="vertical-align:middle;" data-toggle="modal" data-target="#modal-suppr-client"><i class="fa fa-times"></i></td>
                                </tr>
                                <tr>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">Société Générale</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">4 Ter Rue de Paris 91400 Orsay</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">16</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">1</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">91</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">2</td>
                                    <td class="td-btn-suppr" style="vertical-align:middle;" data-toggle="modal" data-target="#modal-suppr-client"><i class="fa fa-times"></i></td>
                                </tr>
                                <tr>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">La banque Postale</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">11 Rue Bourseul, 75015 Paris</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">31</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">2</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">31</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">1</td>
                                    <td class="td-btn-suppr" style="vertical-align:middle;" data-toggle="modal" data-target="#modal-suppr-client"><i class="fa fa-times"></i></td>
                                </tr>
                                <tr>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">Atos</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">80 Quai Voltaire, 95870 Bezons</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">7</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">1</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">12</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">3</td>
                                    <td class="td-btn-suppr" style="vertical-align:middle;" data-toggle="modal" data-target="#modal-suppr-client"><i class="fa fa-times"></i></td>
                                </tr>
                                <tr>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">EDF</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">résid Foulon, 91140 Villebon-sur-Yvette</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">2</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">1</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">12</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">2</td>
                                    <td class="td-btn-suppr" style="vertical-align:middle;" data-toggle="modal" data-target="#modal-suppr-client"><i class="fa fa-times"></i></td>
                                </tr>
                                <tr>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">CEA</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">Centre d'Etudes, 91190 Gif-sur-Yvette</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">12</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">2</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">21</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">2</td>
                                    <td class="td-btn-suppr" style="vertical-align:middle;" data-toggle="modal" data-target="#modal-suppr-client"><i class="fa fa-times"></i></td>
                                </tr>
                                <tr>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">MAAF</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">1 rue de Chartres, 91400 Orsay</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">2</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">1</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">60</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">2</td>
                                    <td class="td-btn-suppr" style="vertical-align:middle;" data-toggle="modal" data-target="#modal-suppr-client"><i class="fa fa-times"></i></td>
                                </tr>
                                <tr>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">Matmut</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">41 boulevard Dubreuil, 91400 Orsay</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">3</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">1</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">12</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">1</td>
                                    <td class="td-btn-suppr" style="vertical-align:middle;" data-toggle="modal" data-target="#modal-suppr-client"><i class="fa fa-times"></i></td>
                                </tr>
                                <tr>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">MAIF</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">37 boulevard Dubreuil, 91400 Orsay</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">5</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">1</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">49</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">1</td>
                                    <td class="td-btn-suppr" style="vertical-align:middle;" data-toggle="modal" data-target="#modal-suppr-client"><i class="fa fa-times"></i></td>
                                </tr>
                                <tr>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">La Chocolatine</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">55 rue de Paris, 91400 Orsay</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">7</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">3</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">11</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">1</td>
                                    <td class="td-btn-suppr" style="vertical-align:middle;" data-toggle="modal" data-target="#modal-suppr-client"><i class="fa fa-times"></i></td>
                                </tr>
                                <tr>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">Le Moulin de Gasny</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">12 rue Boursier, 91400 Orsay</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">15</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">5</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">15</td>
                                    <td class="td-modal" data-toggle="modal" data-target="#modal-modif-client">1</td>
                                    <td class="td-btn-suppr" style="vertical-align:middle;" data-toggle="modal" data-target="#modal-suppr-client"><i class="fa fa-times"></i></td>
                                </tr>
                            </tbody>
                        </table>

                            <!-- Modal supprimer client -->
                        <div class="modal fade" id="modal-suppr-client" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header background_admin">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title text-white">@Messages("deleteConfirmation")</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>@Messages("clientDeleteMessage") : (nom du projet) ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-admin" data-dismiss="modal">@Messages("yes")</button>
                                        <button type="button" class="btn" data-dismiss="modal">@Messages("no")</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="modal-modif-client" role="dialog">
                            <div class="modal-dialog">
                                <div class="ibox-title background_admin div-center">
                                    <h5 class="text-white inline">@Messages("setClient")</h5>
                                    <div class="ibox-tools">
                                        <button type="button" class="close" data-dismiss="modal">
                                            <i class="fa fa-times"/>
                                        </button>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="row">
                                        <div class="col-sm-6 b-r">
                                            <form class="form-horizontal" id="clientForm">
                                                <div class="row form-group">
                                                    <label class="col-sm-5 control-label" for="formClientName">@Messages("formClientName")</label>
                                                    <div class="col-sm-7"><input type="text" id="formClientName" class="form-control"></div>
                                                </div>
                                                <div class="row form-group">
                                                    <label class="col-sm-5 control-label" for="formClientAdress">@Messages("adress")</label>
                                                    <div class="col-sm-7"><input type="text" id="formClientAdress" class="form-control"></div>
                                                </div>
                                                <div class="row form-group">
                                                    <label class="col-sm-5 control-label" for="formZipCode">@Messages("formZipCode")</label>
                                                    <div class="col-sm-7"><input type="text" id="formZipCode" class="form-control"></div>
                                                </div>
                                                <div class="row form-group">
                                                    <label class="col-sm-5 control-label" for="formCity">@Messages("formCity")</label>
                                                    <div class="col-sm-7"><input type="text" id="formCity" class="form-control"></div>
                                                </div>

                                                <div class="row form-group">
                                                    <label class="col-sm-5 control-label" for="formCountry">@Messages("formCountry")</label>
                                                    <div class="col-sm-7"><input type="text" id="formCountry" class="form-control"></div>
                                                </div>

                                                <div class="row form-group">
                                                    <label class="col-sm-5 control-label">@Messages("priority")</label>
                                                    <div class="col-sm-7">
                                                        <div class="btn-group">
                                                            <button class="btn" type="button" value="1" >1</button>
                                                            <button class="btn  btn-active" value="2" type="button">2</button>
                                                            <button class="btn" type="button" value="3">3</button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="div-center">
                                                <h3 class="inline">@Messages("addContact")</h3>
                                                <form class="form-horizontal" id="contactForm">
                                                    <div class="row form-group">
                                                        <label class="col-sm-5 control-label" for="formLastName">@Messages("formLastName")</label>
                                                        <div class="col-sm-7"><input type="text" id="formLastName" class="form-control"></div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <label class="col-sm-5 control-label" for="formFirstName">@Messages("formFirstName")</label>
                                                        <div class="col-sm-7"><input type="text" id="formFirstName" class="form-control"></div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <label class="col-sm-5 control-label" for="formEmail">@Messages("formEmail")</label>
                                                        <div class="col-sm-7"><input type="text" id="formEmail" class="form-control"></div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <label class="col-sm-5 control-label" for="formTel" >@Messages("formTel")</label>
                                                        <div class="col-sm-7"><input type="text" id="formTel" class="form-control"></div>
                                                    </div>
                                                </form>
                                                <button class="btn btn-admin inline" type="submit" form="contactForm">
                                                    <i class="fa fa-plus-square"></i>  @Messages("add")
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h3 style="text-align:center;">@Messages("projects")</h3>
                                            <div class="list-modif-client">
                                                <table class="table-bordered">
                                                    <tbody>
                                                        <tr>
                                                            <td class="first-td">Projet 1</td>
                                                            <td class="td-btn-suppr" data-toggle="modal" data-target="#modal-confirmation-suppr-projet-client" style="vertical-align:middle;"><i class="fa fa-times"></i></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="first-td">Projet 1</td>
                                                            <td class="td-btn-suppr" data-toggle="modal" data-target="#modal-confirmation-suppr-projet-client" style="vertical-align:middle;"><i class="fa fa-times"></i></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="first-td">Projet 1</td>
                                                            <td class="td-btn-suppr" data-toggle="modal" data-target="#modal-confirmation-suppr-projet-client" style="vertical-align:middle;"><i class="fa fa-times"></i></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="first-td">Projet 1</td>
                                                            <td class="td-btn-suppr" data-toggle="modal" data-target="#modal-confirmation-suppr-projet-client" style="vertical-align:middle;"><i class="fa fa-times"></i></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <h3 style="text-align:center;">@Messages("contacts")</h3>
                                            <div class="list-modif-client">
                                                <table class="table-bordered">
                                                    <tbody>
                                                        <tr>
                                                            <td class="first-td">Contact 1</td>
                                                            <td class="td-btn-suppr" style="vertical-align:middle;"><i class="fa fa-times"></i></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="first-td">Contact 1</td>
                                                            <td class="td-btn-suppr" style="vertical-align:middle;"><i class="fa fa-times"></i></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="first-td">Contact 1</td>
                                                            <td class="td-btn-suppr" style="vertical-align:middle;"><i class="fa fa-times"></i></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="first-td">Contact 1</td>
                                                            <td class="td-btn-suppr" style="vertical-align:middle;"><i class="fa fa-times"></i></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:15px;">
                                        <div class="div-center">
                                                <!--TODO modalview Valider (check contacts & projet & champs -->
                                            <button class="btn btn-admin" type="submit" form="clientForm">
                                                <i class="fa fa-check-square"></i> @Messages("validate")
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="modal-confirmation-suppr-projet-client" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header background_admin">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title text-white">@Messages("deleteConfirmation")</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>@Messages("projectDeleteMessage") : (nom du projet) ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-admin" data-dismiss="modal">@Messages("yes")</button>
                                        <button type="button" class="btn" data-dismiss="modal">@Messages("no")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@main(pageTitle,content, scripts)