@(pageTitle: String, projets: java.util.List[models.Projet])

@scripts = {
    <script>
            $(document).ready(function() {
                $('.liclickable').click(function (e) {
                    e.preventDefault();
                    var self = $(this),
                            controler = self.data('infos') || self.attr('data-infos');
                    $('#sidebar ul li').removeClass('active');
                    $(this).addClass('active');

                    eval("jsRoutes.controllers."+controler).ajax({
                        success: function(html) {
                            var result = $('#refresh',html);
                            $('#refresh').empty().html(result);
                        },
                        //Case we have a problem
                        error: function(errorMessage){
                            alert(errorMessage);
                        }
                    });
                });

                $("body").load(function(){
                    alert('yesy');
                    updateMenu();
                });

                function updateMenu()
                {
                    var navHeader = document.getElementById('nav-header');
                    $(navHeader).addClass('nav-header-admin');
                    $('.navbar').css("cssText", "background-color : #e74c3c !important;border-color : #e74c3c !important; transition: none;");
                    $('.pear-theme').css("cssText", "background-color : #e74c3c !important;border-color : #e74c3c !important;");
                }
                updateMenu();

            });
    </script>


}

@content = {
    <div id="wrapper" class="ng-scope">
        @sidebar("ProjetAdmin")

        <div id="page-wrapper" class="gray-bg dashbard-1">
            @topbar()
            <div id="refresh" >
                <div class="ibox-content">
                    <div class="panel-body" style="padding-top:10px;">
                        <div class="row row-options-admin-projet">
                            <div class="col-sm-3">
                                <div class="checkbox checkbox-success checkbox-circle">
                                    <input id="checkbox-projet-admin-projets-termines" type="checkbox" onclick="projetTermines()">
                                    <label for="checkbox-projet-admin-projets-termines">
                                    @Messages("completedProjects")
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="checkbox checkbox-success checkbox-circle">
                                    <input id="checkbox-projet-admin-projets-archives" type="checkbox" onclick="projetArchives()">
                                    <label for="checkbox-projet-admin-projets-archives">
                                    @Messages("archivedProjects")
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive table-responsive-admin-projet">
                            <table id="dataTables-admin-projet" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr class="table-center">
                                        <th style="vertical-align:middle;">@Messages("project")</th>
                                        <th style="vertical-align:middle;">@Messages("client")</th>
                                        <th style="vertical-align:middle;">@Messages("startDate")</th>
                                        <th style="vertical-align:middle;">@Messages("endDate")</th>
                                        <th style="vertical-align:middle;">@Messages("archived")</th>
                                        <th style="vertical-align:middle;">@Messages("workload")</th>
                                        <th><i class="fa fa-trash"></i></th>
                                    </tr>
                                </thead>
                                <tbody id="dataTables-admin-projet-body">
                                @for(projet <- projets) {
                                    @if(projet.archive && projet.estTermine()) {
                                        <tr class="table-center cursor-pointer projet-archived-finished" value="@projet.id">
                                    } else {
                                        @if(projet.archive){
                                            <tr class="table-center cursor-pointer projet-archived" value="@projet.id">
                                        }else{
                                            @if(projet.estTermine()){
                                                <tr class="table-center cursor-pointer projet-finished" value="@projet.id">
                                            }else {
                                                <tr class="table-center cursor-pointer" value="@projet.id">
                                            }

                                        }

                                    }
                                        <td style="vertical-align:middle ;">
                                        @projet.nom
                                        </td>
                                        <td style="vertical-align:middle ;">@projet.client.nom</td>
                                        <td style="vertical-align:middle ;">@projet.formateDate(projet.dateDebutReel)</td>
                                        <td style="vertical-align:middle ;">
                                            <p style="display:none ;">@projet.formateDateTri(projet.dateFinReelTot)</p>
                                            <p>@projet.formateDate(projet.dateFinReelTot)</p>
                                            <p>@projet.formateDate(projet.dateFinReelTard)</p>
                                        </td>
                                        @if(projet.archive) {
                                            <td style="vertical-align:middle ;">@Messages("yes")</td>
                                        }else {
                                            <td style="vertical-align:middle ;">@Messages("no")</td>
                                        }

                                        @projet.unite match{
                                            case UniteProjetEnum.JOUR => {
                                                <td class="td-avancement" style="vertical-align:middle ;">
                                                    <p style="display:none ;">@projet.avancementGlobal%</p>
                                                    <p class="row-initiale">@Messages("initial") :
                                                        @projet.chargeInitiale @Messages("day-first-letter")</p>
                                                    <p class="row-restante">@Messages("remaining"): @projet.chargeRestante
                                                         @Messages("day-first-letter")</p>
                                                    <div class="progress progress-bar-default">
                                                            <!-- si 0% : color:black; -->
                                                        @if(projet.avancementGlobal == 0){
                                                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;color:black;">
                                                                0%
                                                            </div>
                                                        } else{
                                                            <div class="progress-bar" role="progressbar" aria-valuenow="@projet.avancementGlobal" aria-valuemin="0" aria-valuemax="100" style="width: @projet.avancementGlobal% ;">
                                                                @projet.avancementGlobal%
                                                            </div>
                                                        }
                                                    </div>
                                                    <p class="row-consommee">@Messages("consumed")
                                                        : @projet.chargeConsommee @Messages("day-first-letter")</p>
                                                </td>
                                            }
                                            case UniteProjetEnum.SEMAINE => {
                                                <td class="td-avancement" style="vertical-align:middle ;">
                                                    <p style="display:none ;">@projet.avancementGlobal%</p>
                                                    <p class="row-initiale">@Messages("initial") :
                                                        @projet.chargeInitiale @Messages("week-first-letter")</p>
                                                    <p class="row-restante">@Messages("remaining"):
                                                        @projet.chargeRestante @Messages("week-first-letter")</p>
                                                    <div class="progress progress-bar-default">
                                                            <!-- si 0% : color:black; -->
                                                        @if(projet.avancementGlobal == 0){
                                                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;color:black;">
                                                                0%
                                                            </div>
                                                        } else{
                                                            <div class="progress-bar" role="progressbar" aria-valuenow="@projet.avancementGlobal" aria-valuemin="0" aria-valuemax="100" style="width: @projet.avancementGlobal% ;">
                                                                @projet.avancementGlobal%
                                                            </div>
                                                        }
                                                    </div>
                                                    <p class="row-consommee">@Messages("consumed")
                                                        :  @projet.chargeConsommee @Messages("week-first-letter")</p>
                                                </td>
                                            }
                                        }

                                    @if(projet.archive) {
                                        <td class="td-btn-suppr-disable"style="vertical-align:middle ;"><i class="fa fa-times"></i></td>
                                    }else{
                                        <td class="td-btn-suppr" data-toggle="modal" data-target="#modal-confirmation-suppr-projet-admin" style="vertical-align:middle ;"><i class="fa fa-times"></i></td>
                                    }
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>

                        <div class="modal fade" id="modal-confirmation-suppr-projet-admin" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header background_admin">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title text-white">@Messages("deleteConfirmation")</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p style="display:inline;">@Messages("projectDeleteMessage") :</p><p id="modal-projet-admin-nom-projet" style="display:inline;"></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="button-admin-projet" onclick="supprimerProjet()" type="button" class="btn btn-admin" data-dismiss="modal">@Messages("yes")</button>
                                        <button type="button" class="btn" data-dismiss="modal">@Messages("no")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="submitButton-admin-projet" class="ibox-footer text-center" style="background-color: #27AE62 ; color:#FFF ; height: 40px ; cursor: pointer ;" data-toggle="modal" data-target="#modal-add-projet-admin">
                    <h3 style="margin:0px ;"><i class="fa fa-plus-circle" style="margin-right:7px;"></i>@Messages("addProject")</h3>
                </div>
                <div class="modal fade" id="modal-add-projet-admin" role="dialog">
                    <div class="modal-dialog">
                            <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title">@Messages("addProject")</h4>
                            </div>
                            <div class="modal-body" style="padding-top:0px;">
                                <form id="addProjectForm" role="form" method="POST">
                                    <div class="ibox-content">
                                        <div class="row">
                                            <div class="col-sm-offset-2 col-sm-8">
                                                <label class="label_form" for="projet">@Messages("project")</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-offset-2 col-sm-8">
                                                <div id="successCreerProjet" class="alert alert-success alert-dismissable" style="display: none;">
                                                    <button class="close" type="button">×</button>
                                                    <p id="successCreerProjetP"><p>
                                                </div>
                                                <div id="errorCreerProjet" class="alert alert-danger alert-dismissable" style="display: none;">
                                                    <button class="close" type="button">×</button>
                                                    <p id="errorCreerProjetP"><p>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <input name="nom" required="true" placeholder="" class="form-control"/>
                                                    </div>
                                                    <div class="col-sm-6">@Messages("priority")
                                                        <div id="btnCreerProjet" class="btn-group" style="display: inline-block ;">
                                                            <button class="btn" type="button" value="1" >1</button>
                                                            <button class="btn  btn-active" value="2" type="button">2</button>
                                                            <button class="btn" type="button" value="3">3</button>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="label_form" for="responsableProjet">@Messages("projectPersonResponsible")</label>
                                                            <div>
                                                                <select id="responsableProjet" name="responsableProjet" required="true" style="width:100% ;" class="form-control">
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class='form-group'>
                                                            <label class="label_form" for="client">@Messages("client")</label>
                                                            <div>
                                                                <select id="client" name="client" required="true" style="width:100% ;" class="form-control">
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <label for="description" class="label_form">@Messages("description")</label>
                                                    </div>

                                                    <div class="col-sm-12">
                                                        <textarea name="description" style="height: 150px ; width:100% ;"></textarea>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="label_form">@Messages("theoreticalDate")</label>
                                                            <div class="row margin-form">
                                                                <label class="col-sm-4 control-label font-noraml" for="datepicker_projet_th_debut" style="text-align: left">@Messages("startDate")</label>
                                                                <div class="form-group col-sm-8" id="datepicker_projet_th_debut">
                                                                    <div class="input-group date">
                                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input name="dateDebutTheorique" type="text" class="form-control" value="">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row margin-form">
                                                                <label class="col-sm-4 control-label font-noraml" for="datepicker_projet_th_fin" style="text-align: left">@Messages("endDate")</label>
                                                                <div class="form-group col-sm-8" id="datepicker_projet_th_fin">
                                                                    <div class="input-group date">
                                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input name="dateFinTheorique" type="text" class="form-control" value="">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="label_form" for="unite">@Messages("unit")</label>
                                                            <div>
                                                                <select id="unite" name="unite" required="true" style="width:100% ;" class="form-control">
                                                                    <option value="JOUR">@Messages("day")</option>
                                                                    <option value="SEMAINE">@Messages("week")</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="submitButton" class="ibox-footer text-center" style="background-color: #27AE62 ; color:#FFF ; height: 40px ; cursor: pointer ;">
                                        <h3 style="margin:0px ;">@Messages("saveProject")</h3>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}

@main(pageTitle,content, scripts)