@(pageTitle: String, utilisateurs: java.util.List[models.Utilisateur])

@scripts = {
    <script>
            $(document).ready(function() {
                $('.liclickable').click(function (e) {
                    e.preventDefault();
                    var self = $(this),
                            controler = self.data('infos') || self.attr('data-infos');
                    $('#sidebar ul li').removeClass('active');
                    $(this).addClass('active');

                    eval("jsRoutes.controllers."+controler).ajax({
                        success: function(html) {
                            var result = $('#refresh',html);
                            $('#refresh').empty().html(result);
                        },
                        //Case we have a problem
                        error: function(errorMessage){
                            alert(errorMessage);
                        }
                    });
                });

                $("body").load(function(){
                    updateMenu();
                });

                function updateMenu()
                {
                    var navHeader = document.getElementById('nav-header');
                    $(navHeader).addClass('nav-header-admin');
                    $('.navbar').css("cssText", "background-color : #e74c3c !important;border-color : #e74c3c !important; transition: none;");
                    $('.pear-theme').css("cssText", "background-color : #e74c3c !important;border-color : #e74c3c !important;");
                }
                updateMenu();
            });
    </script>
}

@content = {
    <div id="wrapper" class="ng-scope">
        @sidebar("UtilisateurAdmin")

        <div id="page-wrapper" class="gray-bg dashbard-1">
            @topbar()
            <div id="refresh" >
                <div class="ibox-content">
                    <div class="row row-options-admin-user">
                        <div class="col-sm-3">
                            <div class="checkbox checkbox-danger checkbox-circle">
                                <input id="checkboxUsersArchived" class="styled" type="checkbox" onclick="utilisateursArchived()">
                                <label for="checkboxUsersArchived"> @Messages("showArchivedUsers") </label>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive table-responsive-admin-user">
                        <table id="dataTables-admin-user" class="table table-striped table-bordered table-hover" >
                            <thead>
                                <tr>
                                    <th>@Messages("formLastName")</th>
                                    <th>@Messages("formFirstName")</th>
                                    <th>@Messages("formEmail")</th>
                                    <th>@Messages("formTel")</th>
                                    <th>@Messages("currentProjects")</th>
                                    <th>@Messages("currentTasks")</th>
                                    <th>@Messages("archived")</th>
                                    <th><i class="fa fa-trash"></i></th>
                                </tr>
                            </thead>

                            <tbody id="dataTables-admin-user-body">
                                <!-- Boucle sur la liste des utilisateurs -->
                                @for(utilisateur <- utilisateurs) {
                                    <tr value="@utilisateur.id" onclick="afficherModalUtilisateur(this)">
                                        <td class="td-modal" data-toggle="modal" data-target="#modal-modif-user">@utilisateur.nom</td>
                                        <td class="td-modal" data-toggle="modal" data-target="#modal-modif-user">@utilisateur.prenom</td>
                                        <td class="td-modal" data-toggle="modal" data-target="#modal-modif-user">@utilisateur.email</td>
                                        <td class="td-modal" data-toggle="modal" data-target="#modal-modif-user">@utilisateur.telephone</td>
                                        <td class="td-modal" data-toggle="modal" data-target="#modal-modif-user">@utilisateur.listProjetsResponsableSize</td>
                                        <td class="td-modal" data-toggle="modal" data-target="#modal-modif-user">@utilisateur.listTachesSize</td>
                                        @if(utilisateur.archive){
                                            <td class="td-modal" data-toggle="modal" data-target="#modal-modif-user">
                                            @Messages("yes")
                                            </td>
                                        } else {
                                            <td class="td-modal" data-toggle="modal" data-target="#modal-modif-user">
                                            @Messages("no")
                                            </td>
                                        }
                                        <td class="td-btn-suppr" style="vertical-align:middle ;" data-toggle="modal" data-target="#modal-suppr-user"><i class="fa fa-times"></i></td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <div class="modal fade" id="modal-modif-user" role="dialog">
                            <div class="modal-dialog">
                                <div class="ibox-title background_admin div-center">
                                    <h5 class="text-white inline">@Messages("setUser")</h5>
                                    <div class="ibox-tools">
                                        <button type="button" class="close" data-dismiss="modal">
                                            <i class="fa fa-times"/>
                                        </button>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <form class="form-horizontal" id="userForm">
                                        <div class="row form-group form-group-user">
                                            <label class="control-label" for="formLastName">@Messages("formLastName")</label>
                                            <div><input type="text" id="formLastName" class="form-control"></div>
                                        </div>
                                        <div class="row form-group form-group-user">
                                            <label class="control-label" for="formFirstName">@Messages("formFirstName")</label>
                                            <div><input type="text" id="formFirstName" class="form-control"></div>
                                        </div>
                                        <div class="row form-group form-group-user">
                                            <label class="control-label" for="formEmail">@Messages("formEmail")</label>
                                            <div><input type="text" id="formEmail" class="form-control"></div>
                                        </div>
                                        <div class="row form-group form-group-user">
                                            <label class="control-label" for="formTel">@Messages("formTel")</label>
                                            <div><input type="text" id="formTel" class="form-control"></div>
                                        </div>

                                        <div class="row form-group form-group-user">
                                            <label class="col-sm-5 control-label">@Messages("administrator")</label>
                                            <div class="col-sm-7">
                                                <div class="radio radio-inline radio-danger">
                                                    <input type="radio" id="inlineRadioAdminOui" value="option1" name="radioInlineAdmin" checked="">
                                                    <label for="inlineRadioAdminOui">Oui</label>
                                                </div>
                                                <div class="radio radio-inline radio-danger">
                                                    <input type="radio" id="inlineRadioAdminNon" value="option2" name="radioInlineAdmin">
                                                    <label for="inlineRadioAdminNon">Non</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:15px;">
                                            <div class="div-center">
                                                    <!--TODO modalview Valider (check contacts & projet & champs -->
                                                <button class="btn btn-admin" type="submit" form="userForm">
                                                    <i class="fa fa-check-square"></i> @Messages("validate")
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="modal-suppr-user" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <div class="ibox-title background_admin div-center">
                                    <h5 class="text-white inline">@Messages("removeUser")</h5>
                                    <div class="ibox-tools">
                                        <button type="button" class="close" data-dismiss="modal">
                                            <i class="fa fa-times"/>
                                        </button>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <form class="form-horizontal" id="removeUserForm">
                                        <div class="row div-center">
                                            <h3>@Messages("deletingOf") : Yasser Rabi (yasser.rabi&commat;u-psud.fr)</h3>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>@Messages("projectManagerChange") :</p>
                                                <div class="table-responsive">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>@Messages("project")</th>
                                                                <th>@Messages("newPersonResponsible")</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="table-suppr-user">
                                                            <tr>
                                                                <td>Projet 1</td>
                                                                <td>
                                                                    <select class="form-control select2-respo-tache" style="width:100%;" multiple="multiple">
                                                                        <option value="Mayotte">Mayotte</option>
                                                                        <option value="Mexico">Mexico</option>
                                                                        <option value="Nicaragua">Nicaragua</option>
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <!-- TODO : clé traduction -->
                                                <p>Changement du responsable d'une tâche :</p>
                                                <div class="table-responsive">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>@Messages("task")</th>
                                                                <th>@Messages("project")</th>
                                                                <th>@Messages("newPersonResponsible")</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="table-suppr-user">
                                                            <tr>
                                                                <td>Créer la base de données</td>
                                                                <td>Projet 1</td>
                                                                <td>
                                                                    <select class="form-control select2-respo-projet" style="width:100%;" multiple="multiple">
                                                                        <option value="Mayotte">Mayotte</option>
                                                                        <option value="Mexico">Mexico</option>
                                                                        <option value="Nicaragua">Nicaragua</option>
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:15px;">
                                            <div class="div-center">
                                                <a role="button" class="btn btn-admin" data-toggle="modal" data-target="#modal-confirmation-suppr-user">
                                                    <i class="fa fa-check-square"></i> @Messages("validate")
                                                </a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="modal-confirmation-suppr-user" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header background_admin">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title text-white">@Messages("deleteConfirmation")</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>@Messages("userDeleteMessage") : (nom de l'utilisateur) ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-admin" data-dismiss="modal">@Messages("yes")</button>
                                        <button type="button" class="btn" data-dismiss="modal">@Messages("no")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="submitButton-creerUser" class="text-center cursor-pointer btn-creer" data-toggle="modal" data-target="#modal-add-user">
                    <h3><i class="fa fa-plus-circle"></i>@Messages("addUser")</h3>
                </div>
                <div class="modal fade" id="modal-add-user" role="dialog">
                    <div class="modal-dialog">
                        <div class="ibox-title background_admin div-center">
                            <h5 class="text-white inline">@Messages("addUser")</h5>
                            <div class="ibox-tools">
                                <button type="button" class="close" data-dismiss="modal">
                                    <i class="fa fa-times"/>
                                </button>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <form class="form-horizontal" id="userForm">
                                <div class="row form-group form-group-user">
                                    <label class="control-label" for="new-formLastName">@Messages("formLastName")</label>
                                    <div><input type="text" id="new-formLastName" class="form-control"></div>
                                </div>
                                <div class="row form-group form-group-user">
                                    <label class="control-label" for="new-formFirstName">@Messages("formFirstName")</label>
                                    <div><input type="text" id="new-formFirstName" class="form-control"></div>
                                </div>
                                <div class="row form-group form-group-user">
                                    <label class="control-label" for="new-formEmail">@Messages("formEmail")</label>
                                    <div><input type="text" id="new-formEmail" class="form-control"></div>
                                </div>
                                <div class="row form-group form-group-user">
                                    <label class="control-label" for="new-formTel">@Messages("formTel")</label>
                                    <div><input type="text" id="new-formTel" class="form-control"></div>
                                </div>

                                <div class="row form-group form-group-user">
                                    <label class="col-sm-5 control-label">@Messages("administrator")</label>
                                    <div class="col-sm-7">
                                        <div class="radio radio-inline radio-danger">
                                            <input type="radio" id="new-inlineRadioAdminOui" value="option1" name="radioInlineAdmin" checked="">
                                            <label for="new-inlineRadioAdminOui">@Messages("yes")</label>
                                        </div>
                                        <div class="radio radio-inline radio-danger">
                                            <input type="radio" id="new-inlineRadioAdminNon" value="option2" name="radioInlineAdmin">
                                            <label for="new-inlineRadioAdminNon">@Messages("no")</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:15px;">
                                    <div class="div-center">
                                        <button class="btn btn-admin" type="submit" form="userForm">
                                            <i class="fa fa-check-square"></i> @Messages("validate")
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@main(pageTitle,content,scripts)