@(pageTitle: String, utilisateur: models.Utilisateur)

    @scripts = {
        <script>
                $(document).ready(function() {
                    $('.liclickable').click(function (e) {
                        e.preventDefault();
                        var self = $(this),
                                controler = self.data('infos') || self.attr('data-infos');
                        $('#sidebar ul li').removeClass('active');
                        $(this).addClass('active');
                        eval("jsRoutes.controllers."+controler).ajax({
                            success: function(html) {
                                var result = $('#refresh',html);
                                $('#refresh').empty().html(result);
                            },
                            //Case we have a problem
                            error: function(errorMessage){
                                alert(errorMessage);
                            }
                        });
                    });

                    $( window ).resize(function() {
                        $('.liste-projet-client').css('height',"100%");
                        height = $('.liste-projet-client').css('height');
                        height = parseInt(height);
                        height -= 200;
                        $('.liste-projet-client').css('height',height);
                    });

                    $('.liste-projet-client').css('height',"100%");
                    height = $('.liste-projet-client').css('height');
                    height = parseInt(height);
                    height -= 200;
                    $('.liste-projet-client').css('height',height);

                    $("body").load(function(){
                        updateMenu();
                        $('.liste-projet-client').css('height',"100%");
                        height = $('.liste-projet-client').css('height');
                        height = parseInt(height);
                        height -= 200;
                        $('.liste-projet-client').css('height',height);
                    });

                    function updateMenu()
                    {
                        var navHeader = document.getElementById('nav-header-admin');
                        $(navHeader).addClass('nav-header');
                        $('.navbar').css("cssText", "background-color : #1AB394 !important;border-color : #1AB394 !important; transition: none;");
                        $('.pear-theme').css("cssText", "background-color : #1AB394 !important;border-color : #1AB394 !important;");
                    }
                    updateMenu();
                });
        </script>

    }

    @content = {
        <div id="wrapper" class="ng-scope">
            @sidebar("Client")

            <div id="page-wrapper" class="gray-bg dashbard-1">
                @topbar()


                <div id="refresh" >
                    <div>

                    </div>
                    <div class="row">
                        <div id="afficheListeProjet" class="cursor-pointer" style="position:fixed ; background-color:#1AB394 ; height: 25px ; width: 170px ; z-index:1999 ; text-align:center ; line-height: 25px ; margin-top: -1px ;">
                            <i id="icon-show-liste-projet" class="fa fa-outdent" style="color:#FFF ;"></i>
                        </div>
                        <div id="col-sidebar-liste-projet" class="col-md-2" style="padding: 0 ;">
                            <div class="sidebar-liste-projet" style="position: fixed ; width: 170px ; z-index: 1998 ; height: 100% ; background-color:#FFF ; box-shadow: 3px 0 5px -4px #333 ;">
                                <div class="liste-projet-client" style="overflow-y: auto ; height: 100% ; margin-top:26px ;">
                                    @for( (client, indexClient) <- utilisateur.listClients().zipWithIndex) {
                                        <div class="sidebar-client">
                                            <div class="row header-sidebar-projet" style="">
                                                <div class="sidebar-client-priorite"><div class="valeur">@client.priorite</div></div>
                                                <div> <i class="fa fa-angle-down" style="float: right ; display: inline-block ; width: 20px ; height: 30px ; line-height: 30px ; text-align: center ; background-color: #FFF ; color: #676A6C ;"></i></div>
                                                <div class="sidebar-client-nom" style="color:#FFF ; line-height: 30px ;">@client.nom</div>
                                            </div>
                                        @for( (projet, indexProjet) <- utilisateur.listProjetsDuClient(client).zipWithIndex) {

                                            <div class="row client-project" style="margin-left: 0px ; margin-right: 0px ;">
                                            @if(indexProjet == 0 && indexClient == 0) {

                                                @if(projet.estTermine()) {
                                                    <div name="client-projet-@projet.id" projet="@projet.id" class="sidebar-projet select projet-finished-sidebar" style="background-color: #0d8ddb ; display: none; color:#FFF;">
                                                    } else {
                                                    <div name="client-projet-@projet.id" projet="@projet.id" class="sidebar-projet select">
                                                    }
                                                } else {

                                                @if(projet.estTermine()) {
                                                    <div name="client-projet-@projet.id" projet="@projet.id" class="sidebar-projet projet-finished-sidebar" style="background-color: #0d8ddb ; display: none; color:#FFF;">
                                                    } else {
                                                    <div name="client-projet-@projet.id" projet="@projet.id" class="sidebar-projet">
                                                    }
                                                }
                                                    <div class="content">
                                                        <div class="sidebar-projet-nom">@projet.nom</div>
                                                        <div class="sidebar-projet-priorite"><div class="valeur">@projet.priorite</div></div>
                                                    </div>
                                                </div>
                                            </div>
                                            }
                                        </div>
                                        }
                                </div>

                                    <div class="row" style="margin-left: 0px ; margin-right: 0px ; position: absolute ; bottom: 51px ; background-color: #FFF ; width: 100% ;">
                                        <div class="sidebar-footer" style="height: 110px ;">
                                            <div class="checkbox checkbox-success checkbox-circle">
                                                <input onclick="updateSideBarClientArchive(this);" id="checkbox-projet-termines" type="checkbox">
                                                <label for="checkbox-projet-termines">
                                                @Messages("displayFinishProjects")
                                                </label>
                                            </div>

                                            <button id="exporter-client">
                                                @Messages("exportClients") <i class="fa fa-share-square-o"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @for(projet <- utilisateur.listProjets()) {
                                <div id="client-projet-@projet.id" class="col-md-10 col-consulterProjet" style="display:none ;">
                                    @afficheProjet(projet, utilisateur)
                                </div>
                    }

                        <!-- Modal-view Creer tache/sous-tache -->

                        <!-- Modal-view modifier tache/sous-tache -->
                        @popuptacheConsulterModifier()
                        @popuptacheCreer()
                        <!-- Modal-view supprimer tache -->
                        @popuptacheSupprimer()

                        <!-- Modal créer client -->
                    <div class="modal fade" id="modal-add-client" role="dialog">
                        <div class="modal-dialog">
                                <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">
                                        ×</span> <span class="sr-only">Close</span></button>
                                    <h4 class="modal-title">@Messages("addClient")</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-6 b-r">
                                            <form class="form-horizontal" id="creerClientForm">
                                                <div class="row form-group">
                                                    <label class="col-sm-5 control-label" for="formCreerClientName">@Messages("formClientName")</label>
                                                    <div class="col-sm-7"><input type="text" id="formCreerClientName" class="form-control"></div>
                                                </div>
                                                <div class="row form-group">
                                                    <label class="col-sm-5 control-label" for="formCreerClientAdress">@Messages("adress")</label>
                                                    <div class="col-sm-7"><input type="text" id="formCreerClientAdress" class="form-control"></div>
                                                </div>
                                                <div class="row form-group">
                                                    <label class="col-sm-5 control-label" for="formCreerClientZipCode">@Messages("formZipCode")</label>
                                                    <div class="col-sm-7"><input type="text" id="formCreerClientZipCode" class="form-control"></div>
                                                </div>
                                                <div class="row form-group">
                                                    <label class="col-sm-5 control-label" for="formCreerClientCity">@Messages("formCity")</label>
                                                    <div class="col-sm-7"><input type="text" id="formCreerClientCity" class="form-control"></div>
                                                </div>

                                                <div class="row form-group">
                                                    <label class="col-sm-5 control-label" for="formCreerClientCountry">@Messages("formCountry")</label>
                                                    <div class="col-sm-7"><input type="text" id="formCreerClientCountry" class="form-control"></div>
                                                </div>

                                                <div class="row form-group">
                                                    <label class="col-sm-5 control-label">@Messages("priority")</label>
                                                    <div class="col-sm-7">
                                                        <div class="radio radio-inline radio-danger">
                                                            <input type="radio" id="inlineRadio1CreerClient" value="option1" name="radioInline" checked="">
                                                            <label for="inlineRadio1CreerClient">1</label>
                                                        </div>
                                                        <div class="radio radio-inline radio-danger">
                                                            <input type="radio" id="inlineRadio2CreerClient" value="option2" name="radioInline">
                                                            <label for="inlineRadio2CreerClient">2</label>
                                                        </div>
                                                        <div class="radio radio-inline radio-danger">
                                                            <input type="radio" id="inlineRadio3CreerClient" value="option3" name="radioInline">
                                                            <label for="inlineRadio3CreerClient">3</label>
                                                        </div>

                                                    </div>
                                                </div>

                                            </form>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="div-center">
                                                <h3 class="inline">@Messages("addContact")</h3>
                                                <form class="form-horizontal" id="contactFormCreerClient">
                                                    <div class="row form-group">
                                                        <label class="col-sm-5 control-label" for="formLastNameCreerClient">@Messages("formLastName")</label>
                                                        <div class="col-sm-7"><input type="text" id="formLastNameCreerClient" class="form-control"></div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <label class="col-sm-5 control-label" for="formFirstNameCreerClient">@Messages("formFirstName")</label>
                                                        <div class="col-sm-7"><input type="text" id="formFirstNameCreerClient" class="form-control"></div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <label class="col-sm-5 control-label" for="formEmailCreerClient">@Messages("formEmail")</label>
                                                        <div class="col-sm-7"><input type="text" id="formEmailCreerClient" class="form-control"></div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <label class="col-sm-5 control-label" for="formTelCreerClient" >@Messages("formTel")</label>
                                                        <div class="col-sm-7"><input type="text" id="formTelCreerClient" class="form-control"></div>
                                                    </div>
                                                </form>
                                                <button class="btn btn-primary inline" type="submit" form="contactFormCreerClient">
                                                    <i class="fa fa-plus-square"></i> @Messages("add")
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="display:none ;">
                                        <div class="col-sm-offset-3 col-sm-6">
                                            <h3 style="text-align:center ;">@Messages("contacts")</h3>
                                            <div class="list-modif-client">
                                                <table class="table-bordered">
                                                    <tbody>
                                                        <tr>
                                                            <td class="first-td">Contact 1</td>
                                                            <td class="td-btn-suppr" data-toggle="modal" data-target="#modal-confirmation-suppr-tache-client" style="vertical-align:middle ;"><i class="fa fa-times"></i></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="first-td">Contact 1</td>
                                                            <td class="td-btn-suppr" data-toggle="modal" data-target="#modal-confirmation-suppr-tache-client" style="vertical-align:middle ;"><i class="fa fa-times"></i></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="first-td">Contact 1</td>
                                                            <td class="td-btn-suppr" data-toggle="modal" data-target="#modal-confirmation-suppr-tache-client" style="vertical-align:middle ;"><i class="fa fa-times"></i></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="first-td">Contact 1</td>
                                                            <td class="td-btn-suppr" data-toggle="modal" data-target="#modal-confirmation-suppr-tache-client" style="vertical-align:middle ;"><i class="fa fa-times"></i></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ibox-footer text-center" style="background-color: #27AE62 ; color:#FFF ; height: 40px ; cursor: pointer ;">
                                        <h3 style="margin:0px ;">@Messages("saveClient")</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    }

    @main(pageTitle, content, scripts)