@(pageTitle: String)

@scripts = {
    <script>
            $(document).ready(function() {
                $('.liclickable').click(function (e) {
                    e.preventDefault();
                    var self = $(this),
                            controler = self.data('infos') || self.attr('data-infos');
                    $('#sidebar ul li').removeClass('active');
                    $(this).addClass('active');

                    eval("jsRoutes.controllers."+controler).ajax({
                        success: function(html) {
                            var result = $('#refresh',html);
                            $('#refresh').empty().html(result);
                        },
                        //Case we have a problem
                        error: function(errorMessage){
                            alert(errorMessage);
                        }
                    });
                });


            });
    </script>
}

@content = {
    <div id="wrapper" class="ng-scope">
        @sidebar("CreerUtilisateur")

        <div id="page-wrapper" class="gray-bg dashbard-1">
            @topbar()
            <div id="refresh" >

                <form class="form-horizontal" id="creerUserForm">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-4">
                                <div id="successCreerUser" class="alert alert-success alert-dismissable" style="display: none;">
                                    <button class="close" type="button">×</button>
                                    <p id="successCreerUserP"><p>
                                </div>
                                <div id="errorCreerUser" class="alert alert-danger alert-dismissable" style="display: none;">
                                    <button class="close" type="button">×</button>
                                    <p id="errorCreerUserP"><p>
                                </div>
                                <div class="row form-group form-group-user">
                                    <label class="control-label" for="new-formLastName">@Messages("formLastName")</label>
                                    <div><input type="text" name="new-formLastName" id="new-formLastName" class="form-control"></div>
                                </div>
                                <div class="row form-group form-group-user">
                                    <label class="control-label" for="new-formFirstName">@Messages("formFirstName")</label>
                                    <div><input type="text" name="new-formFirstName" id="new-formFirstName" class="form-control"></div>
                                </div>
                                <div class="row form-group form-group-user">
                                    <label class="control-label" for="new-formEmail">@Messages("formEmail")</label>
                                    <div><input type="text" name="new-formEmail" id="new-formEmail" class="form-control"></div>
                                </div>
                                <div class="row form-group form-group-user">
                                    <label class="control-label" for="new-formTel">@Messages("formTel")</label>
                                    <div><input type="text" name="new-formTel" id="new-formTel" class="form-control"></div>
                                </div>

                                <div class="row form-group form-group-user">
                                    <div class="" style="font-weight: 700;">@Messages("administrator")
                                        <div class="btn-group" style="display: inline-block ;">
                                            <button id="btnAdminOuiCreer" class="btn" type="button" name="buttonAdminOui" value="Oui" style="color:#FFF;">@Messages("yes")</button>
                                            <button id="btnAdminNonCreer" class="btn  btn-active" value="Non" name="buttonAdminNon" type="button" style="color:#FFF;">@Messages("no")</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div id="" onclick="creerUtilisateur(this); return false;" class="ibox-footer text-center" form="creerUserForm" style="background-color: #27AE62 ; color:#FFF ; height: 40px ; cursor: pointer ;">
                        <h3 style="margin:0px ;">@Messages("saveUser")</h3>
                    </div>
                </form>


            </div>
        </div>
    </div>
}

@main(pageTitle,content, scripts)