@(pageTitle: String)

@scripts = {
    <script>
            $(document).ready(function() {
                $('.liclickable').click(function (e) {
                    e.preventDefault();
                    var self = $(this),
                            controler = self.data('infos') || self.attr('data-infos');
                    $('#sidebar ul li').removeClass('active');
                    $(this).addClass('active');

                    eval("jsRoutes.controllers."+controler).ajax({
                        success: function(html) {
                            var result = $('#refresh',html);
                            $('#refresh').empty().html(result);
                        },
                        //Case we have a problem
                        error: function(errorMessage){
                            alert(errorMessage);
                        }
                    });
                });
            });
    </script>
}

@content = {
    <div id="wrapper" class="ng-scope">
        @sidebar("CreerClient")

        <div id="page-wrapper" class="gray-bg dashbard-1">
            @topbar()
            <div id="refresh" >
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-6 b-r">
                            <form class="form-horizontal" id="creerClientForm">

                                <div id="successCreerClient" class="alert alert-success alert-dismissable" style="display: none;">
                                    <button class="close" type="button">×</button>
                                    <p id="successCreerClientP"><p>
                                </div>
                                <div id="errorCreerClient" class="alert alert-danger alert-dismissable" style="display: none;">
                                    <button class="close" type="button">×</button>
                                    <p id="errorCreerClientP"><p>
                                </div>

                                <div class="row form-group">
                                    <label class="col-sm-5 control-label" for="formCreerClientName">@Messages("formClientName")</label>
                                    <div class="col-sm-7"><input type="text" id="formCreerClientName" name="formCreerClientName" class="form-control"></div>
                                </div>
                                <div class="row form-group">
                                    <label class="col-sm-5 control-label" for="formCreerClientAdress">@Messages("adress")</label>
                                    <div class="col-sm-7"><input type="text" id="formCreerClientAdress" name="formCreerClientAdress" class="form-control"></div>
                                </div>
                                <div class="row form-group">
                                    <label class="col-sm-5 control-label" for="formCreerClientZipCode">@Messages("formZipCode")</label>
                                    <div class="col-sm-7"><input type="text" id="formCreerClientZipCode" name="formCreerClientZipCode" class="form-control"></div>
                                </div>
                                <div class="row form-group">
                                    <label class="col-sm-5 control-label" for="formCreerClientCity">@Messages("formCity")</label>
                                    <div class="col-sm-7"><input type="text" id="formCreerClientCity" name="formCreerClientCity" class="form-control"></div>
                                </div>

                                <div class="row form-group">
                                    <label class="col-sm-5 control-label" for="formCreerClientCountry">@Messages("formCountry")</label>
                                    <div class="col-sm-7"><input type="text" id="formCreerClientCountry" name="formCreerClientCountry" class="form-control"></div>
                                </div>

                                <div class="row form-group">
                                    <label class="col-sm-5 control-label">@Messages("priority")</label>
                                    <div id="btnCreerClient" class="btn-group" style="display: inline-block ;">
                                        <button class="btn" type="button" value="1" >1</button>
                                        <button class="btn  btn-active" value="2" type="button">2</button>
                                        <button class="btn" type="button" value="3">3</button>
                                    </div>
                                </div>

                            </form>
                        </div>

                        <div class="col-sm-6">
                            <div class="div-center">
                                <h3 class="inline">@Messages("addContact")</h3>
                                <form class="form-horizontal" id="contactFormCreerClient">
                                    <div class="row form-group">
                                        <label class="col-sm-5 control-label" for="formLastNameContactClient">@Messages("formLastName")</label>
                                        <div class="col-sm-7"><input type="text" id="formLastNameContactClient" name="formLastNameContactClient" class="form-control"></div>
                                    </div>
                                    <div class="row form-group">
                                        <label class="col-sm-5 control-label" for="formFirstNameContactClient">@Messages("formFirstName")</label>
                                        <div class="col-sm-7"><input type="text" id="formFirstNameContactClient" name="formFirstNameContactClient" class="form-control"></div>
                                    </div>
                                    <div class="row form-group">
                                        <label class="col-sm-5 control-label" for="formEmailContactClient">@Messages("formEmail")</label>
                                        <div class="col-sm-7"><input type="text" id="formEmailContactClient" name="formEmailContactClient" class="form-control"></div>
                                    </div>
                                    <div class="row form-group">
                                        <label class="col-sm-5 control-label" for="formTelContactClient" >@Messages("formTel")</label>
                                        <div class="col-sm-7"><input type="text" id="formTelContactClient" name="formTelContactClient" class="form-control"></div>
                                    </div>
                                </form>
                                <button class="btn btn-primary inline" onclick="creerContact(this); return false;" type="submit" form="contactFormCreerClient">
                                    <i class="fa fa-plus-square"></i>  @Messages("add")
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="listContactAjout" class="row" style="display:none;">
                        <div class="col-sm-offset-3 col-sm-6">
                            <h3 style="text-align:center;">@Messages("contacts")</h3>
                            <div class="list-modif-client">
                                <div class="table-responsive">
                                    <table id="tableContact" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>@Messages("formLastName")</th>
                                                <th>@Messages("formFirstName")</th>
                                                <th>@Messages("formEmail")</th>
                                                <th>@Messages("formTel")</th>
                                                <th><i class="fa fa-trash"></i></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-footer text-center" style="background-color: #27AE62;color:#FFF;height: 40px;cursor: pointer;" onclick="creerClient(this); return false;" form="creerClientForm">
                    <h3 style="margin:0px;">@Messages("saveClient")</h3>
                </div>
            </div>
        </div>
    </div>
}

@main(pageTitle,content, scripts)