@(pageTitle: String)

@scripts = {
    <script>
            $(document).ready(function() {
                $('.liclickable').click(function (e) {
                    e.preventDefault();
                    var self = $(this),
                            controler = self.data('infos') || self.attr('data-infos');
                    $('#sidebar ul li').removeClass('active');
                    $(this).addClass('active');

                    eval("jsRoutes.controllers."+controler).ajax({
                        success: function(html) {
                            var result = $('#refresh',html).html();
                            $('#refresh').empty().html(result);
                        },
                        //Case we have a problem
                        error: function(errorMessage){
                            alert(errorMessage);
                        }
                    });
                });

            });
    </script>
}

@content = {
    <div id="wrapper" class="ng-scope">

        @sidebar("CreerProjet")

        <div id="page-wrapper" class="gray-bg dashbard-1">
            @topbar()
            <div id="refresh" >

                <div class="row wrapper border-bottom white-bg page-heading">
                    <div class="col-sm-4">
                        <h2>This is CREER PROJET</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="http://webapplayers.com/inspinia_admin-v2.4/index.html">This is</a>
                            </li>
                            <li class="active">
                                <strong>Breadcrumb</strong>
                            </li>
                        </ol>
                    </div>

                </div>


                <form id="addProjectForm" class="m-t" role="form" method="POST">

                    <div class="wrapper wrapper-content">
                        <div class="ibox animated fadeInRightBig" style="background-color: #FFF; max-width: 100%;">
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-sm-offset-2 col-sm-8">
                                        <label class="label_form" for="projectResponsible">@Messages("project")</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-offset-2 col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-6"><input placeholder="" class="form-control"></div>
                                            <div class="col-sm-6">@Messages("priority")

                                                <div class="btn-group" style="display: inline-block ;">
                                                <button class="btn" type="button">1</button>
                                                <button class="btn btn-active" type="button">2</button>
                                                <button class="btn" type="button">3</button>

                                            </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class='form-group'>
                                                    <label class="label_form" for="projectResponsible">@Messages("projectPersonResponsible")</label>
                                                    <input class="form-control" id="projectResponsible" name="projectResponsible" required="true"/>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class='form-group'>
                                                    <label class="label_form" for="client">@Messages("client")</label>
                                                    <input class="form-control" id="client" name="client" required="true"/>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                                <div class="col-sm-6">
                                                    <label class="label_form">@Messages("description")</label>
                                                </div>

                                                <div class="col-sm-12">
                                                    <textarea style="height: 150px; width:100%;"></textarea>
                                                </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="ibox-footer text-center" style="background-color: #27AE62;color:#FFF;height: 40px;">
                                <h3>@Messages("saveProject")</h3>
                            </div>
                        </div>
                    </div>


                </form>
            </div>


        </div>


    </div>
}

@main(pageTitle,content, scripts)