@(pageTitle: String)

@scripts = {
    <script>
            $(document).ready(function() {
                $('.liclickable').click(function (e) {
                    e.preventDefault();
                    var self = $(this),
                            controler = self.data('infos') || self.attr('data-infos');
                    $('#sidebar ul li').removeClass('active');
                    $(this).addClass('active');

                    eval("jsRoutes.controllers."+controler).ajax({
                        success: function(html) {
                            var result = $('#refresh',html);
                            $('#refresh').empty().html(result);
                        },
                        //Case we have a problem
                        error: function(errorMessage){
                            alert(errorMessage);
                        }
                    });
                });

            });
    </script>
}

@content = {
    <div id="wrapper" class="ng-scope">
        @sidebar("CreerProjet")

        <div id="page-wrapper" class="gray-bg dashbard-1">
            @topbar()
            <div id="refresh" >
                <form id="addProjectForm" role="form" method="POST">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-offset-2 col-sm-8">
                                <label class="label_form" for="projet">@Messages("project")</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-2 col-sm-8">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input name="projet" required="true" placeholder="" class="form-control"/>
                                    </div>
                                    <div class="col-sm-6">@Messages("priority")
                                        <div class="btn-group" style="display: inline-block ;">
                                            <button class="btn" type="button" value="1" >1</button>
                                            <button class="btn  btn-active" value="2" type="button">2</button>
                                            <button class="btn" type="button" value="3">3</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="label_form" for="responsableProjet">@Messages("projectPersonResponsible")</label>
                                            <div>
                                                <select id="responsableProjet" name="responsableProjet" required="true" style="width:100% ;" class="form-control">
                                                    <option value="1">Option 1</option>
                                                    <option value="2">Option 2</option>
                                                    <option value="3">Option 3</option>
                                                    <option value="4">Option 4</option>
                                                    <option value="5">Option 5</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class='form-group'>
                                            <label class="label_form" for="client">@Messages("client")</label>
                                            <div>
                                                <select id="client" name="client" required="true" style="width:100% ;" class="form-control">
                                                    <option value="1">Option 1</option>
                                                    <option value="2">Option 2</option>
                                                    <option value="3">Option 3</option>
                                                    <option value="4">Option 4</option>
                                                    <option value="5">Option 5</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="description" class="label_form">@Messages("description")</label>
                                    </div>

                                    <div class="col-sm-12">
                                        <textarea name="description" style="height: 150px ; width:100% ;"></textarea>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="label_form">@Messages("theoreticalDate")</label>
                                            <div class="row margin-form">
                                                <label class="col-sm-4 control-label font-noraml" for="datepicker_projet_th_debut" style="text-align: left">@Messages("startDate")</label>
                                                <div class="form-group col-sm-8" id="datepicker_projet_th_debut">
                                                    <div class="input-group date">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" value="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row margin-form">
                                                <label class="col-sm-4 control-label font-noraml" for="datepicker_projet_th_fin" style="text-align: left">@Messages("endDate")</label>
                                                <div class="form-group col-sm-8" id="datepicker_projet_th_fin">
                                                    <div class="input-group date">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" value="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="label_form" for="unite">@Messages("unit")</label>
                                            <div>
                                                <select id="unite" name="unite" required="true" style="width:100% ;" class="form-control">
                                                    <option value="1">@Messages("day")</option>
                                                    <option value="2">@Messages("week")</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="submitButton" class="ibox-footer text-center" style="background-color: #27AE62 ; color:#FFF ; height: 40px ; cursor: pointer ;">
                        <h3 style="margin:0px ;">@Messages("saveProject")</h3>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@main(pageTitle, content, scripts)