@(pageTitle: String)

@scripts = {
    <script>
            $(document).ready(function() {
                $('.liclickable').click(function (e) {
                    e.preventDefault();
                    var self = $(this),
                            controler = self.data('infos') || self.attr('data-infos');
                    $("#sidebar ul li").removeClass('active');
                    $(this).addClass('active');

                    eval("jsRoutes.controllers."+controler).ajax({
                        success: function(html) {
                            if(controler.substring(0,15) === 'AdminController'){
                                var navBarTop = document.getElementById('navBarTop');
                                $(navBarTop).addClass('navbar-fixed-top-admin');
                                var menuButton = document.getElementById('menuButton');
                                $(menuButton).addClass('btn-danger');
                                var navHeader = document.getElementById('nav-header');
                                $(navHeader).addClass('nav-header-admin');

                            }else{
                                var navBarTop = document.getElementById('navBarTop');
                                $(navBarTop).removeClass('navbar-fixed-top-admin');
                                var menuButton = document.getElementById('menuButton');
                                $(menuButton).removeClass('btn-danger');
                                var navHeader = document.getElementById('nav-header');
                                $(navHeader).removeClass('nav-header-admin');
                            }
                            var result = $('#refresh',html);
                            $('#refresh').empty().html(result);
                        },
                        //Case we have a problem
                        error: function(errorMessage){
                            alert(errorMessage);
                        }
                    });
                });
            });

            var getElementsByAttribute = function (attr, value) {
                var match = [];
                var elements = document.getElementsByTagName("*");

                for (var ii = 0, ln = elements.length; ii < ln; ii++) {
                    if (elements[ii].hasAttribute(attr)) {
                        if (value) {
                            if (elements[ii].getAttribute(attr) === value) {
                                match.push(elements[ii]);
                            }
                        } else {
                            /* Else, simply push it */
                            match.push(elements[ii]);
                        }
                    }
                }
                return match;
            };

            /* Afficher les clients archivés */
            function clientsArchived(){
                // console.log("TEST checkbox");
                if($("#checkBoxClientsArchived").is(":checked")) {
                    // checkbox is checked
                    var table = document.getElementById("clientsTable");
                    $(table).find('tbody')
                            .append($('<tr>').attr('data-toggle','modal').attr('data-target','#myModal').attr('class','archived')
                                    .append($('<td>').text('ArchivedName'))
                                    .append($('<td>').text('ArchivedAdress'))
                                    .append($('<td>').text('ArchivedNbContacts'))
                                    .append($('<td>').text('ArchivedNbProjects'))
                                    .append($('<td>').text('ArchivedNbTasks'))
                                    .append($('<td>').text('ArchivedPriority'))
                                    .append($('<td>').append($('<i>').attr('class','fa fa-times-circle'))));

                    //console.log("CHECKED");
                } else {
                    // checkbox is not checked
                    //console.log("NOT CHECKED");
                    $('.archived').hide();
                }
            }

    </script>
}

@content = {
    <div id="wrapper" class="ng-scope">
        @sidebar("Dashboard")

        <div id="page-wrapper" class="gray-bg dashbard-1">

            @topbar()

            <div id="refresh" >

            </div>

        </div>

            <!-- Partie droite, les settings -->
        <div id="right-sidebar">
            <div class="sidebar-container">
                <div class="changePassword">
                    <form role="form">
                        <div class="form-group previousPassword">
                            <label for="previousPassword">@Messages("previousPassword")</label>
                            <input type="password" id="previousPassword" class="form-control">
                        </div>
                        <div class="form-group newPassword">
                            <label for="newPassword">@Messages("newPassword")</label>
                            <input type="password" id="newPassword" class="form-control">
                        </div>
                        <div class="form-group newPasswordConfirm">
                            <label for="newPasswordConfirm">@Messages("newPasswordConfirm")</label>
                            <input type="password" id="newPasswordConfirm" class="form-control">
                        </div>
                        <div class="validateForm">
                            <button class="btn btn-user btn-block" type="submit" onclick>@Messages("validateForm")  <i class="fa fa-check"></i></button>
                        </div>
                    </form>
                </div>

                <div class="notificationFrom">
                    <p>@Messages("titleNotificationFrom")</p>
                    <div>
                            <!--TODO : auto recherche -->
                        <input type="text" id="searchContact" class="form-control z-index-3"/>
                    </div>

                    <div class="list-personnes-notifiees">
                        <table class="table-bordered">
                            <tbody>
                                <tr>
                                    <td class="first-td">Yasser Rabi - yasser.rabi&commat;gmail.com</td>
                                    <td class="td-btn-suppr" style="vertical-align:middle;"><i class="fa fa-times"></i></td>
                                </tr>
                                <tr>
                                    <td class="first-td">Yasser Rabi - yasser.rabi&commat;gmail.com</td>
                                    <td class="td-btn-suppr" style="vertical-align:middle;"><i class="fa fa-times"></i></td>
                                </tr>
                                <tr>
                                    <td class="first-td">Yasser Rabi - yasser.rabi&commat;gmail.com</td>
                                    <td class="td-btn-suppr" style="vertical-align:middle;"><i class="fa fa-times"></i></td>
                                </tr>
                                <tr>
                                    <td class="first-td">Yasser Rabi - yasser.rabi&commat;gmail.com</td>
                                    <td class="td-btn-suppr" style="vertical-align:middle;"><i class="fa fa-times"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="notificationSettings">
                    <div class="checkbox checkbox-success checkbox-circle">
                        <input id="checkbox-changes" type="checkbox">
                        <label for="checkbox-changes">
                        @Messages("checkbox-changes")
                        </label>
                    </div>
                    <div class="checkbox checkbox-success checkbox-circle">
                        <input id="checkbox-tasks-almost-finish" type="checkbox" >
                        <label for="checkbox-tasks-almost-finish">
                        @Messages("checkbox-tasks-almost-finish")
                        </label>
                    </div>
                    <div class="checkbox checkbox-success checkbox-circle">
                        <input id="checkbox-tasks-late" type="checkbox" checked>
                        <label for="checkbox-tasks-late">
                        @Messages("checkbox-tasks-late")
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@main(pageTitle, content, scripts)