@(pageTitle: String, utilisateur: models.Utilisateur)

@scripts = {
    <script>


            $(document).ready(function() {
                $('.liclickable').click(function (e) {
                    e.preventDefault();
                    var self = $(this),
                            controler = self.data('infos') || self.attr('data-infos');
                    $('#sidebar ul li').removeClass('active');
                    $(this).addClass('active');

                    eval("jsRoutes.controllers."+controler).ajax({
                        success: function(html) {
                            var result = $('#refresh',html);
                            $('#refresh').empty().html(result);
                        },
                        //Case we have a problem
                        error: function(errorMessage){
                            alert(errorMessage);
                        }
                    });
                });
            });

    </script>
}

@content = {
    <div id="wrapper" class="ng-scope">
        @sidebar("Notification")

        <div id="page-wrapper" class="gray-bg dashbard-1">
            @topbar()
            <div id="refresh" >
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                <form id="form-notif">
                                    <h2>@Messages("notifications") (<span id="nbNotifNonLues-pageNotif">@utilisateur.nbNotificationsNonLues()</span>)</h2>
                                    <a class="btn btn-white btn-bitbucket" onclick="allNotificationsLues(@utilisateur.id)"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-white btn-bitbucket"><i class="fa fa-trash"></i></a>
                                    @if(utilisateur.listNotifications().isEmpty()) {
                                        <div class="div-center"><h3>@Messages("noneNotification")</h3></div>
                                    } else {
                                        <div class="table-responsive">
                                            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="10">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>@Messages("from")</th>
                                                        <th>@Messages("object")</th>
                                                        <th>@Messages("date")</th>
                                                        <th data-hide="all">@Messages("state")</th>
                                                        <th data-hide="all">@Messages("message")</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                @for( notification <- utilisateur.listNotifications()) {
                                                    @if(notification.etatLecture) {
                                                        <tr id="notif-@notification.id" class="lu">
                                                    } else {
                                                        <tr id="notif-@notification.id" class="non-lu">
                                                        }

                                                    <td>
                                                        <div class="checkbox checkbox-success checkbox-inline checkbox-notif">
                                                            <input name="@notification.id" id="checkbox-notif-@notification.id" type="checkbox" onclick="clickOnCheckboxNotification('checkbox-notif-@notification.id','notif-@notification.id')">
                                                            <label for="checkbox-notif-@notification.id"></label>
                                                        </div>
                                                    </td>
                                                    <td>@notification.utilisateur.nom @notification.utilisateur.prenom</td>
                                                    <td>@notification.title</td>
                                                    <td>@notification.dateEnvoi</td>
                                                    @if(notification.etatLecture == true) {
                                                        <td id="notif-etatLecture-@notification.id">@Messages("read")</td>
                                                    } else {
                                                        <td id="notif-etatLecture-@notification.id">@Messages("unread")</td>
                                                    }
                                                    <td>
                                                        <p>@notification.contentNotification</p>
                                                    </td>

                                                </tr>
                                                }
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="5">
                                                            <ul class="pagination pull-right"></ul>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    }
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@main(pageTitle, content, scripts)