@(pageTitle: String, utilisateur: models.Utilisateur)


@scripts = {
    <script>
            $(document).ready(function() {
                $('.liclickable').click(function (e) {
                    e.preventDefault();
                    var self = $(this),
                            controler = self.data('infos') || self.attr('data-infos');
                    $('#sidebar ul li').removeClass('active');
                    $(this).addClass('active');
                    eval("jsRoutes.controllers."+controler).ajax({
                        success: function(html) {
                            var result = $('#refresh',html);
                            $('#refresh').empty().html(result);
                        },
                        //Case we have a problem
                        error: function(errorMessage){
                            alert(errorMessage);
                        }
                    });
                });

                $( window ).resize(function() {
                    $('.liste-projet').css('height',"100%");
                    height = $('.liste-projet').css('height');
                    height = parseInt(height);
                    height -= 150;
                    $('.liste-projet').css('height',height);
                });

                $('.liste-projet').css('height',"100%");
                height = $('.liste-projet').css('height');
                height = parseInt(height);
                height -= 150;
                $('.liste-projet').css('height',height);

                $("body").load(function(){
                    updateMenu();
                });

                function updateMenu()
                {
                    var navHeader = document.getElementById('nav-header-admin');
                    $(navHeader).addClass('nav-header');
                    $('.navbar').css("cssText", "background-color : #1AB394 !important;border-color : #1AB394 !important; transition: none;");
                    $('.pear-theme').css("cssText", "background-color : #1AB394 !important;border-color : #1AB394 !important;");
                }
                updateMenu();
            });
    </script>
}

@content = {
    <div id="wrapper" class="ng-scope">
        @sidebar("Projet")

        <div id="page-wrapper" class="gray-bg dashbard-1">
            @topbar()

            <div id="refresh" >
                <div class="row">
                    <div id="afficheListeProjet" class="cursor-pointer" style="position:fixed ; background-color:#1AB394 ; height: 25px ; width: 170px ; z-index:1999 ; text-align:center ; line-height: 25px ; margin-top: -1px ;">
                        <i id="icon-show-liste-projet" class="fa fa-outdent" style="color:#FFF ;"></i>
                    </div>
                    <div id="col-sidebar-liste-projet" class="col-md-2" style="padding: 0 ;">
                        <div class="sidebar-liste-projet" style="position: fixed ; width: 170px ; z-index: 1998 ; height: 100% ; background-color:#FFF ; box-shadow: 3px 0 5px -4px #333 ;">
                            <div class="liste-projet" style="overflow-y: auto ; height: 100% ; margin-top:26px ;">

                                @for( (projet, index) <- utilisateur.listProjets().zipWithIndex) {
                                    <div class="row" style="margin-left: 0px ; margin-right: 0px ;">
                                        @if(index == 0) {
                                            @if(projet.estTermine()) {
                                                <div name="projet-@projet.id" class="sidebar-projet select projet-finished-sidebar" style="background-color: #0d8ddb ;">
                                                } else {
                                                <div name="projet-@projet.id" class="sidebar-projet select">
                                                }
                                        } else {
                                            @if(projet.estTermine()) {
                                                <div name="projet-@projet.id" class="sidebar-projet projet-finished-sidebar" style="background-color: #0d8ddb ;">
                                                } else {
                                                <div name="projet-@projet.id" class="sidebar-projet">
                                                }
                                        }
                                    <div class="content">
                                        <div class="sidebar-projet-nom">@projet.nom</div>
                                        <div class="sidebar-client-nom">@projet.client.nom</div>
                                        <div class="sidebar-client-projet-priorite"><div class="valeur">@projet.prioriteProjetEtClient()</div></div>
                                    </div>
                                    </div>
                                    </div>
                                    }
                            </div>

                                <div class="row" style="margin-left: 0px ; margin-right: 0px ; position: absolute ; bottom: 51px ; background-color: #FFF ; width: 100% ;">
                                    <div class="sidebar-footer">
                                        <div class="checkbox checkbox-success checkbox-circle">
                                            <input onclick="updateSideBarClientArchive(this);" id="checkbox-tache-termines" type="checkbox">
                                            <label for="checkbox-tache-termines">
                                            @Messages("displayFinishProjects")
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>

                                @for( projet <- utilisateur.listProjets()) {
                                    <div id="projet-@projet.id" class="col-consulterProjet col-md-10" style="display:none ;">
                                        @afficheProjet(projet, utilisateur)
                                    </div>
                        }

                            <!-- Modal-view modifier tache/sous-tache -->
                        @popuptacheConsulterModifier()
                        @popuptacheCreer()
                            <!-- Modal view supprimer tache -->
                        <div class="modal fade" id="modal-confirmation-suppr-tache-projet" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header background_admin">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">
                                            ×</span> <span class="sr-only">Close</span></button>
                                        <h4 class="modal-title text-white">@Messages("deleteConfirmation")</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>@Messages("taskDeleteMessage") : (nom de la tâche) ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-admin" data-dismiss="modal">@Messages("yes")</button>
                                        <button type="button" class="btn" data-dismiss="modal">@Messages("no")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
}
@main(pageTitle, content, scripts)