@(pageTitle: String)

    @scripts = {
        <script>
                $(document).ready(function() {
                    $('.liclickable').click(function (e) {
                        e.preventDefault();
                        var self = $(this),
                                controler = self.data('infos') || self.attr('data-infos');
                        $('#sidebar ul li').removeClass('active');
                        $(this).addClass('active');

                        eval("jsRoutes.controllers."+controler).ajax({
                            success: function(html) {
                                var result = $('#refresh',html).html();
                                $('#refresh').empty().html(result);
                            },
                            //Case we have a problem
                            error: function(errorMessage){
                                alert(errorMessage);
                            }
                        });
                    });

                });
        </script>
    }

    @content = {
        <div id="wrapper" class="ng-scope">
            @sidebar("Projet")

            <div id="page-wrapper" class="gray-bg dashbard-1">

                @topbar()

                <div id="refresh" >
                    <div>

                    </div>
                    <div class="row">
                        <div class="col-md-2" style="background-color: #f2dede ; height: 100% ;">

                            <div class="row" style="margin-left: 0px;margin-right: 0px;">
                                <div class="sidebar-projet select">
                                    <div class="content">
                                        <div class="sidebar-projet-nom">myProject</div>
                                        <div class="sidebar-client-nom">PoPS5I Inc.</div>
                                        <div class="sidebar-client-priorite"><div class="valeur">3</div></div>
                                    </div>
                                </div>
                            </div>


                            <div class="row" style="margin-left: 0px;margin-right: 0px;">
                                <div class="sidebar-projet">
                                    <div class="content">
                                        <div class="sidebar-projet-nom">BigData</div>
                                        <div class="sidebar-client-nom">Auchan</div>
                                        <div class="sidebar-client-priorite"><div class="valeur">2</div></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="sidebar-footer">
                                    <div class="checkbox checkbox-success checkbox-circle">
                                        <input id="checkbox-tache-termines" type="checkbox">
                                        <label for="checkbox-tache-termines">
                                            Afficher les projets terminés
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-10">

                            <div id="div-consulterProjet">
                                <div class="row wrapper border-bottom white-bg page-heading" style="padding-bottom: 0px; padding-right: 0px;">

                                    <div class="col-sm-4">
                                        <h3 class="header-text">Projet : myProjects <div class="priorite">1</div> </h3>
                                        <h3 class="header-text">Client : PoPS5I Inc. <div class="priorite">2</div> </h3>
                                        <textarea readonly class="description" style="width: 100% ;">Le but étant de développer un site web permettant le suivi de projet Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed sapien quam. Sed dapibus est id enim facilisis, at posuere turpis adipiscing. Quisque sit amet dui dui.</textarea>
                                    </div>

                                    <div class="col-sm-5" id="header-milieu">
                                        <h3 class="header-text">Responsable projet : Julien Preisner</h3>
                                        <h3 class="header-text">Avancement : 25%</h3>

                                        <h3 class="header-text">
                                            <table>
                                                <tr>
                                                    <td>
                                                        Du <div class="date-projet">14/10/2015</div>
                                                    </td>
                                                    <td style="padding-left: 3px; padding-right: 3px;">au</td>
                                                    <td>
                                                        <div class="date-projet">01/02/2016</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td>
                                                        <div class="date-projet">05/02/2016</div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </h3>
                                    </div>

                                    <div class="col-sm-3">

                                        <div class="row" style="padding-top: 10px;">

                                            <div class="col-xs-9">
                                                <div class="row-initiale">Initiale : 50J</div>
                                                <div class="row-restante">Restante : 30J</div>
                                                <div class="progress progress-bar-default">
                                                        <!-- si 0% : color:black; -->
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60% ;">
                                                        60%
                                                    </div>
                                                </div>
                                                <p class="row-consommee">Consommée : 30J</p>
                                            </div>
                                            <div class="col-xs-3">
                                                <button class="btn btn-circle popover-info" style="color: #ffffff ;" type="button" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content='<p><div class="cercle cercle-indisponible"></div> Indisponible</p><p><div class="cercle cercle-termine"></div> Terminé</p><p><div class="cercle cercle-retard"></div> En retard</p>'>
                                                    <i class="fa fa-info"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 14px;">
                                            <div style="margin-top:14px;">

                                                <button id="btn-modifierProjet" class="btn btn-info" type="button" style="padding: 3px 7px; float: right; border-radius: 0px 0 0 0; background-color: #1AB394"><i class="fa fa-pencil"></i>
                                                </button>
                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </div>

                            <div id="div-modifierProjet" style="display: none;">
                                <form id="addProjectForm" class="m-t" role="form" method="POST">

                                    <div class="wrapper wrapper-content">
                                        <div class="ibox animated fadeInRightBig" style="background-color: #FFF; max-width: 100%;">
                                            <div class="ibox-content">
                                                <div class="row">
                                                    <div class="col-sm-offset-2 col-sm-8">
                                                        <label class="label_form" for="projectResponsible">@Messages("project")</label>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-offset-2 col-sm-8">
                                                        <div class="row">
                                                            <div class="col-sm-6"><input placeholder="" class="form-control"></div>
                                                            <div class="col-sm-6">@Messages("priority")

                                                                <div class="btn-group" style="display: inline-block ;">
                                                                    <button class="btn" type="button">1</button>
                                                                    <button class="btn btn-active" type="button">2</button>
                                                                    <button class="btn" type="button">3</button>

                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class='form-group'>
                                                                    <label class="label_form" for="projectResponsible">@Messages("projectPersonResponsible")</label>
                                                                    <input class="form-control" id="projectResponsible" name="projectResponsible" required="true"/>
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-6">
                                                                <div class='form-group'>
                                                                    <label class="label_form" for="client">@Messages("client")</label>
                                                                    <input class="form-control" id="client" name="client" required="true"/>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <label class="label_form">@Messages("description")</label>
                                                            </div>

                                                            <div class="col-sm-12">
                                                                <textarea style="height: 260px; width:100%;"></textarea>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                            <div class="ibox-footer text-center" style="background-color: #27AE62;color:#FFF;height: 40px;">

                                                <h3>@Messages("saveProject")</h3>
                                            </div>
                                        </div>
                                    </div>


                                </form>
                            </div>


                            <div style="margin-top: 30px ;" class="row wrapper wrapper-content white-bg">
                                <div class="animated fadeInRightBig" style="margin:auto ;">
                                    <div id="tab-projets" class="tab-pane active">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="checkbox checkbox-success checkbox-circle">
                                                        <input id="checkbox-tache-termines" type="checkbox">
                                                        <label for="checkbox-tache-termines">
                                                            Afficher les tâches terminées
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="checkbox checkbox-success checkbox-circle">
                                                        <input id="checkbox-tache-indisponible" type="checkbox">
                                                        <label for="checkbox-tache-indisponible">
                                                            Afficher les tâches indisponibles
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                                <!-- fin filtre -->
                                            <div class="wrapper wrapper-content">
                                                <div class="animated fadeInRightBig" style="margin:auto ;">
                                                    <div class="table-responsive table-responsive-tdb">
                                                        <table id="projet_Tache" class="table table-striped table-bordered table-hover">
                                                            <thead>
                                                                <tr class="table-center">
                                                                    <th style="vertical-align:middle ;">Tâche</th>
                                                                    <th style="vertical-align:middle ;">Resp. tâche</th>
                                                                    <th style="vertical-align:middle ;">Date début</th>
                                                                    <th style="vertical-align:middle ;">Date fin</th>
                                                                    <th style="vertical-align:middle ;">Charge</th>
                                                                    <th style="vertical-align:middle ;">Pert</th>
                                                                    <th style="vertical-align:middle ;"><i class="fa fa-bell"></i></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="table-center" data-toggle="modal">
                                                                    <td style="padding:0px ;">
                                                                        <div>
                                                                            <div class="idTache">4.1</div>
                                                                            <div>
                                                                                <img src="img/MyIcons/png/Criticite.png" alt="image" class="icone"/>
                                                                                <div class="idNom" style="display: inline-block">
                                                                                    Toto</div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td style="vertical-align:middle ;">Daro Heng</td>
                                                                    <td style="vertical-align:middle ;">30/10/2015</td>
                                                                    <td style="vertical-align:middle ;">
                                                                        <p>29/12/2015</p>
                                                                        <p>4/01/2016</p>
                                                                    </td>
                                                                    <td style="vertical-align:middle ;">
                                                                        <div class="row-initiale">Initiale : 30J</div>
                                                                        <div class="row-restante">Totale : 18J</div>
                                                                        <div class="progress progress-bar-default">
                                                                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60% ;">
                                                                                60%
                                                                            </div>
                                                                        </div>
                                                                        <p class="row-consommee">Consommée : 30J</p>
                                                                    </td>

                                                                    <td style="vertical-align:middle ;">
                                                                        <div class="row">Précédente : 4.1</div>
                                                                        <div class="row">
                                                                            Suivantes :
                                                                            <div class="btn-group">
                                                                                <button type="button" class="btn btn-default dropdown-toggle dropdown-pert" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:white ; color:#676A6C ;">
                                                                                    8 tâches <span class="caret"></span>
                                                                                </button>
                                                                                <ul class="dropdown-menu dropdown-menu-pert">
                                                                                    <li>5.1</li>
                                                                                    <li>5.1</li>
                                                                                    <li>5.1</li>
                                                                                    <li>5.1</li>
                                                                                    <li>5.1</li>
                                                                                    <li>5.1</li>
                                                                                    <li>5.2</li>
                                                                                    <li>5.3</li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td style="vertical-align:middle ;"><i class="fa fa-bell-slash-o"></i></td>
                                                                </tr>

                                                                <tr class="table-center" data-toggle="modal">
                                                                    <td style="padding:0px ;">
                                                                        <div class="idTache">4.1</div>
                                                                        <div>
                                                                            <table>
                                                                                <tr>
                                                                                    <td class="sous-tache-1"><p></p></td>
                                                                                    <td><img src="img/MyIcons/png/Criticite.png" alt="image" class="icone">
                                                                                        <div class="idNom" style="display: inline-block">
                                                                                            Faire les maquettes</div></td>
                                                                                </tr>
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                    <td style="vertical-align:middle ;">Daro Heng</td>
                                                                    <td style="vertical-align:middle ;">30/10/2015</td>
                                                                    <td style="vertical-align:middle ;">
                                                                        <p>29/12/2015</p>
                                                                        <p>4/01/2016</p>
                                                                    </td>
                                                                    <td style="vertical-align:middle ;">
                                                                        <div class="row-initiale">Initiale : 30J</div>
                                                                        <div class="row-restante">Totale : 18J</div>
                                                                        <div class="progress progress-bar-default">
                                                                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60% ;">
                                                                                60%
                                                                            </div>
                                                                        </div>
                                                                        <p class="row-consommee">Consommée : 30J</p>
                                                                    </td>

                                                                    <td style="vertical-align:middle ;">
                                                                        <div class="row">Précédente : 4.1</div>
                                                                        <div class="row">
                                                                            Suivantes :
                                                                            <div class="btn-group">
                                                                                <button type="button" class="btn btn-default dropdown-toggle dropdown-pert" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:white ; color:#676A6C ;">
                                                                                    8 tâches <span class="caret"></span>
                                                                                </button>
                                                                                <ul class="dropdown-menu dropdown-menu-pert">
                                                                                    <li>5.1</li>
                                                                                    <li>5.1</li>
                                                                                    <li>5.1</li>
                                                                                    <li>5.1</li>
                                                                                    <li>5.1</li>
                                                                                    <li>5.1</li>
                                                                                    <li>5.2</li>
                                                                                    <li>5.3</li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td style="vertical-align:middle ;"><i class="fa fa-bell-slash-o"></i></td>
                                                                </tr>
                                                            </tbody>
                                                            <tfoot>
                                                                <tr class="table-center">
                                                                    <th style="vertical-align:middle ;">Projet</th>
                                                                    <th style="vertical-align:middle ;">Client</th>
                                                                    <th style="vertical-align:middle ;">Date début</th>
                                                                    <th style="vertical-align:middle ;">Date fin</th>
                                                                    <th style="vertical-align:middle ;">Charge</th>
                                                                    <th style="vertical-align:middle ;">Pert</th>
                                                                    <th style="vertical-align:middle ;"><i class="fa fa-bell"></i></th>
                                                                </tr>
                                                            </tfoot>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div style="margin-top: 30px ;" class="row wrapper wrapper-content white-bg">
                        <div class="animated fadeInRightBig" style="margin:auto ;">
                            <div id="tab-projets" class="tab-pane active">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="checkbox checkbox-success checkbox-circle">
                                                <input id="checkbox-tache-termines" type="checkbox">
                                                <label for="checkbox-tache-termines">
                                                    Afficher les Projets terminées
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="checkbox checkbox-success checkbox-circle">
                                                <input id="checkbox-tache-indisponible" type="checkbox">
                                                <label for="checkbox-tache-indisponible">
                                                    Afficher les Projets indisponibles
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                    <div class="wrapper wrapper-content">
                        <div style="margin:auto ;">
                            <tr class="table-responsive table-responsive-tdb">
                                <table id="projet_Projet" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr class="table-center">
                                            <th style="vertical-align:middle ;">Tâche</th>
                                            <th style="vertical-align:middle ;">Resp. tâche</th>
                                            <th style="vertical-align:middle ;">Date début</th>
                                            <th style="vertical-align:middle ;">Date fin</th>
                                            <th style="vertical-align:middle ;">Charge</th>
                                            <th style="vertical-align:middle ;">Pert</th>
                                            <th style="vertical-align:middle ;"><i class="fa fa-bell bell"></i></th>
                                            <th style="vertical-align:middle ;"><img src="img/MyIcons/png/map47-grey.png" alt="image" class="icone"></th>
                                            <th style="vertical-align:middle ;"><i class="fa fa-trash trash"></i></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="table-center" data-toggle="modal">
                                            <td style="padding:0px ;">
                                                <div>
                                                    <div class="idTache">4.1</div>
                                                    <div>
                                                        <img src="img/MyIcons/png/Criticite.png" alt="image" class="icone">
                                                        <div class="idNom" style="display: inline-block">
                                                            Toto</div>
                                                    </div>
                                                </div>

                                            </td>
                                            <td style="vertical-align:middle ;">Daro Heng</td>
                                            <td style="vertical-align:middle ;">30/10/2015</td>
                                            <td style="vertical-align:middle ;">
                                                <p>29/12/2015</p>
                                                <p>4/01/2016</p>
                                            </td>
                                            <td style="vertical-align:middle ;">
                                                <div class="row-initiale">Initiale : 30J</div>
                                                <div class="row-restante">Totale : 18J</div>
                                                <div class="progress progress-bar-default">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60% ;">
                                                        60%
                                                    </div>
                                                </div>
                                                <p class="row-consommee">Consommée : 30J</p>
                                            </td>

                                            <td style="vertical-align:middle ;">
                                                <div class="row">Précédente : 4.1</div>
                                                <div class="row">
                                                    Suivantes :
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-default dropdown-toggle dropdown-pert" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:white ; color:#676A6C ;">
                                                            3 tâches <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-pert">
                                                            <li>5.1</li>
                                                            <li>5.2</li>
                                                            <li>5.3</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="vertical-align:middle ;"><i class="fa fa-bell-slash-o"></i></td>
                                            <td style="vertical-align:middle ;"><i class="fa fa-bell-slash-o"></i></td>
                                            <td style="vertical-align:middle ;"><i class="fa fa-bell-slash-o"></i></td>

                                        </tr>

                                        <tr class="table-center" data-toggle="modal">
                                            <td style="padding:0px ;">
                                                <div class="idTache">4.1</div>
                                                <div>
                                                    <img src="img/MyIcons/png/Criticite.png" alt="image" class="icone">
                                                    <div class="idNom" style="display: inline-block">
                                                        Faire les maquettes</div>
                                                </div>
                                            </td>
                                            <td style="vertical-align:middle ;">Daro Heng</td>
                                            <td style="vertical-align:middle ;">30/10/2015</td>
                                            <td style="vertical-align:middle ;">
                                                <p>29/12/2015</p>
                                                <p>4/01/2016</p>
                                            </td>
                                            <td style="vertical-align:middle ;">
                                                <div class="row-initiale">Initiale : 30J</div>
                                                <div class="row-restante">Totale : 18J</div>
                                                <div class="progress progress-bar-default">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60% ;">
                                                        60%
                                                    </div>
                                                </div>
                                                <p class="row-consommee">Consommée : 30J</p>
                                            </td>

                                            <td style="vertical-align:middle ;">
                                                <div class="row">Précédente : 4.1</div>
                                                <div class="row">
                                                    Suivantes :
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-default dropdown-toggle dropdown-pert" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:white ; color:#676A6C ;">
                                                            8 tâches <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-pert">
                                                            <li>5.1</li>
                                                            <li>5.1</li>
                                                            <li>5.1</li>
                                                            <li>5.1</li>
                                                            <li>5.1</li>
                                                            <li>5.1</li>
                                                            <li>5.2</li>
                                                            <li>5.3</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="vertical-align:middle ;"><i class="fa fa-bell-slash-o"></i></td>
                                            <td style="vertical-align:middle ;"><i class="fa fa-bell-slash-o"></i></td>
                                            <td style="vertical-align:middle ;"><i class="fa fa-bell-slash-o"></i></td>
                                        </tr>

                                        <tr>
                                            <td colspan="9" style="padding:0px;">
                                                <div class="row" style="margin-right: 0px;margin-left: 0px; text-align: center; height: 35px; background-color: #1ab394;">

                                                    <div class="col-sm-4" style="padding-right: 0px; padding-left: 0px; line-height: 35px; background-color:#1ab394 !important; border-right: 5px solid red;">
                                                        <i class="fa fa-plus-circle" style="left: 0px; position: absolute; line-height: 35px; color:#fff; width: 30px;font-size: 20px;background-color: red;"> </i>

                                                        <i class="fa fa-arrow-right" style="color: #fff; cursor: pointer;">
                                                            <p style="display:inline;">
                                                            @Messages("createSubTask")
                                                            </p>
                                                        </i>

                                                    </div>
                                                    <div class="col-sm-4" style="padding-right: 0px; padding-left: 0px;line-height: 35px; background-color:#1ab394 !important; border-right: 5px solid red;">
                                                        <i class="fa fa-arrow-down" style="color: #fff; cursor: pointer;">
                                                            <p style="display:inline;">
                                                            @Messages("createTask")
                                                            </p>
                                                        </i>
                                                    </div>
                                                    <div class="col-sm-4" style="padding-right: 0px; padding-left: 0px;line-height: 35px; background-color:#1ab394 !important;">
                                                        <i class="fa fa-arrow-up" style="color: #fff; cursor: pointer;">
                                                            <p style="display:inline;">
                                                            @Messages("createTask")
                                                            </p>
                                                        </i>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="display: none ;"></td>
                                            <td style="display: none ;"></td>
                                            <td style="display: none ;"></td>
                                            <td style="display: none ;"></td>
                                            <td style="display: none ;"></td>
                                            <td style="display: none ;"></td>
                                            <td style="display: none ;"></td>
                                            <td style="display: none ;"></td>
                                        </tr>

                                    </tbody>
                                    <tfoot>
                                        <tr class="table-center">
                                            <th style="vertical-align:middle ;">Projet</th>
                                            <th style="vertical-align:middle ;">Client</th>
                                            <th style="vertical-align:middle ;">Date début</th>
                                            <th style="vertical-align:middle ;">Date fin</th>
                                            <th style="vertical-align:middle ;">Charge</th>
                                            <th style="vertical-align:middle ;">Pert</th>
                                            <th style="vertical-align:middle ;"><i class="fa fa-bell bell"></i></th>
                                            <th style="vertical-align:middle ;"><img src="img/MyIcons/png/map47-grey.png" alt="image" class="icone"></th>
                                            <th style="vertical-align:middle ;"><i class="fa fa-trash trash"></i></th>

                                        </tr>
                                    </tfoot>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    }

    @main(pageTitle, content, scripts)