@(menu:String)

<div class="ng-scope">
    <nav class="navbar-default navbar-static-side ng-scope" role="navigation">
        <div id="sidebar" class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li id="nav-header" class="nav-header">
                    <div class="navbar-profile">
                        <span class="block m-t-xs" style="color:white ;"> <strong class="font-bold">
                                  @Login.getUtilisateurConnecte.prenom @Login.getUtilisateurConnecte.nom</strong> </span>
                    </div>
                </li>
                @if(menu.equals("Dashboard")) {
                    <li class="liclickable active sidebar-btn-green" data-infos="DashboardController.afficherDashboard()">
                        <a ><img src="img/MyIcons/png/map158.png" alt="image" class="icone"> <span class="nav-label" style="padding-left:7px ;">
                        @Messages("dashboard")</span></a>
                    </li>
                } else {
                    <li class="liclickable sidebar-btn-green" data-infos="DashboardController.afficherDashboard()">
                        <a ><img src="img/MyIcons/png/map158.png" alt="image" class="icone"> <span class="nav-label" style="padding-left:7px ;">
                        @Messages("dashboard")</span></a>
                    </li>
                }
                @if(menu.equals("Projet")) {
                    <li class="liclickable active sidebar-btn-green" data-infos="ProjetController.afficherProjets()">
                        <a><img src="img/MyIcons/png/bars62.png" alt="image" class="icone"> <span class="nav-label" style="padding-left:7px ;">
                        @Messages("projects")</span></a>
                    </li>
                } else {
                    <li class="liclickable sidebar-btn-green" data-infos="ProjetController.afficherProjets()">
                        <a><img src="img/MyIcons/png/bars62.png" alt="image" class="icone"> <span class="nav-label" style="padding-left:7px ;">
                        @Messages("projects")</span></a>
                    </li>
                }

                @if(menu.equals("Client")) {
                    <li class="liclickable active sidebar-btn-green" data-infos="ClientController.afficherClients()">
                        <a ><img src="img/MyIcons/png/team2.png" alt="image" class="icone"> <span class="nav-label" style="padding-left:7px ;">
                        @Messages("clients")</span></a>
                    </li>
                } else {
                    <li class="liclickable sidebar-btn-green" data-infos="ClientController.afficherClients()">
                        <a ><img src="img/MyIcons/png/team2.png" alt="image" class="icone"> <span class="nav-label" style="padding-left:7px ;">
                        @Messages("clients")</span></a>
                    </li>
                }

                @if(menu.equals("CreerProjet")) {
                    <li class="liclickable active sidebar-btn-green" data-infos="ProjetController.afficherCreerProjet()">
                        <a ><img src="img/MyIcons/png/add182.png" alt="image" class="icone"> <span class="nav-label" style="padding-left:7px ;">
                        @Messages("createProject")</span></a>

                    </li>
                } else {
                    <li class="liclickable sidebar-btn-green" data-infos="ProjetController.afficherCreerProjet()">
                        <a ><img src="img/MyIcons/png/add182.png" alt="image" class="icone"> <span class="nav-label" style="padding-left:7px ;">
                        @Messages("createProject")</span></a>

                    </li>
                }

                @if(menu.equals("CreerClient")) {
                    <li class="liclickable active sidebar-btn-green" data-infos="ClientController.afficherCreerClient()">
                        <a ><img src="img/MyIcons/png/add182.png" alt="image" class="icone"> <span class="nav-label" style="padding-left:7px ;">
                        @Messages("createCustomer")</span></a>
                    </li>
                } else {
                    <li class="liclickable sidebar-btn-green" data-infos="ClientController.afficherCreerClient()">
                        <a ><img src="img/MyIcons/png/add182.png" alt="image" class="icone"> <span class="nav-label" style="padding-left:7px ;">
                        @Messages("createCustomer")</span></a>
                    </li>
                }

                @if(menu.equals("CreerUtilisateur")) {
                    <li class="liclickable active sidebar-btn-green" data-infos="UtilisateurController.afficherCreerUtilisateur()">
                        <a ><img src="img/MyIcons/png/add182.png" alt="image" class="icone"> <span class="nav-label" style="padding-left:7px ;">
                        @Messages("createUser")</span></a>
                    </li>
                } else {
                    <li class="liclickable sidebar-btn-green" data-infos="UtilisateurController.afficherCreerUtilisateur()">
                        <a ><img src="img/MyIcons/png/add182.png" alt="image" class="icone"> <span class="nav-label" style="padding-left:7px ;">
                        @Messages("createUser")</span></a>
                    </li>
                }

                <li style="pointer-events: none ; cursor: default ; background-color:#e74c3c ;">
                    <a> <span class="nav-label" style="color:white ; padding-right:10px ; margin-left: 10px ;" >
                        @Messages("administrator") </span><img src="img/MyIcons/png/locked59-white.png" alt="image" class="icone"></a>
                </li>

                @if(menu.equals("ProjetAdmin")) {
                    <li class="liclickable active sidebar-btn-red" data-infos="AdminController.afficherAdminProjets()" data-toggle="modal" data-target="#modal-check-mdp">
                        <a ><img src="img/MyIcons/png/bars62.png" alt="image" class="icone" style="margin-left: 10px ;"> <span style="padding-left:7px ;" class="nav-label">
                        @Messages("projects") </span></a>
                    </li>
                } else {
                    <li class="liclickable sidebar-btn-red" data-infos="AdminController.afficherAdminProjets()" data-toggle="modal" data-target="#modal-check-mdp">
                        <a ><img src="img/MyIcons/png/bars62.png" alt="image" class="icone" style="margin-left: 10px ;"> <span style="padding-left:7px ;" class="nav-label">
                        @Messages("projects") </span></a>
                    </li>
                }

                @if(menu.equals("ClientAdmin")) {
                    <li class="liclickable active sidebar-btn-red" data-infos="AdminController.afficherAdminClients()" data-toggle="modal" data-target="#modal-check-mdp">
                        <a ><img src="img/MyIcons/png/team2.png" alt="image" class="icone" style="margin-left: 10px ;"> <span style="padding-left:7px ;" class="nav-label">
                        @Messages("clients") </span></a>
                    </li>
                } else {
                    <li class="liclickable sidebar-btn-red" data-infos="AdminController.afficherAdminClients()" data-toggle="modal" data-target="#modal-check-mdp">
                        <a ><img src="img/MyIcons/png/team2.png" alt="image" class="icone" style="margin-left: 10px ;"> <span style="padding-left:7px ;" class="nav-label">
                        @Messages("clients") </span></a>
                    </li>
                }


                @if(menu.equals("UtilisateurAdmin")) {
                    <li class="liclickable active sidebar-btn-red" data-infos="AdminController.afficherAdminUtilisateur()" data-toggle="modal" data-target="#modal-check-mdp">
                        <a ><img src="img/MyIcons/png/useravatar9.png" alt="image" class="icone" style="margin-left: 10px ;"> <span style="padding-left:7px ;" class="nav-label">
                        @Messages("user") </span></a>
                    </li>
                } else {
                    <li class="liclickable sidebar-btn-red" data-infos="AdminController.afficherAdminUtilisateur()" data-toggle="modal" data-target="#modal-check-mdp">
                        <a ><img src="img/MyIcons/png/useravatar9.png" alt="image" class="icone" style="margin-left: 10px ;"> <span style="padding-left:7px ;" class="nav-label">
                        @Messages("user") </span></a>
                    </li>
                }
            </ul>
        </div>
        <div class="modal fade" id="modal-check-mdp" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                    <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-header background_admin">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">
                            ×</span> <span class="sr-only">Close</span></button>
                        <label style="color:white;" for="newPassword">@Messages("adminMdp")</label>
                    </div>
                    <div class="modal-body">
                        <div id="errorMdpAdmin" class="alert alert-danger alert-dismissable" style="display: none;">
                            <button class="close" type="button">×</button>
                            <p id="errorMdpAdminP"><p>
                        </div>
                        <div class="newPassword">
                            <input type="password" value="" id="passwordAdmin" name="passwordAdmin">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="adminBtn" type="button" class="btn btn-danger">@Messages("submit")</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>



</div>