<div class="row border-bottom">
    <nav class="navbar navbar-fixed-top" role="navigation" style="margin-bottom: 0 ; transition: none ;">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary pear-theme" href="#"><i class="fa fa-bars"></i> </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown" dropdown="">
                <div tabindex="0" class="popover-info" type="button" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-html="true" data-content='<p><a href="@routes.Application.changeLangue("fr")"><img class="country-flag" src="img/MyIcons/png/fr.png"/> Français</a></p><a href="@routes.Application.changeLangue("en")"><img class="country-flag" src="img/MyIcons/png/en.png"/> English</a></p>'>
                    <a class="dropdown-toggle count-info pear-theme" data-toggle="dropdown" href="#" aria-expanded="true">
                        <img class="country-flag" src="img/MyIcons/png/@{play.mvc.Http.Context.current().lang().code()}.png"/>
                    </a>
                </div>
            </li>
            <li id="notifTopBar" onclick="afficherNotifications()">
                <a class="dropdown-toggle count-info pear-theme" data-toggle="dropdown" href="#" aria-expanded="true">
                    <i class="fa fa-bell" style="color:white;"></i> <span class="label label-warning"> @Login.getUtilisateurConnecte.nbNotificationsNonLues()</span>
                </a>
            </li>

            <li>
                <a class="right-sidebar-toggle">
                    <i class="logo-eu fa fa-user pear-theme"></i>
                </a>
            </li>

            <li>
                <a href="/logout">
                    <i class="logo-eu fa fa-power-off pear-theme"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>
    <!-- Partie droite, les settings -->
<div id="right-sidebar">
    <div class="sidebar-container">
        <div class="changePassword">
            <form role="form">
                <div class="form-group previousPassword">
                    <label for="previousPassword">@Messages("previousPassword")</label>
                    <input type="password" id="previousPassword" name="previousPassword" class="form-control">
                </div>
                <div class="form-group newPassword">
                    <label for="newPassword">@Messages("newPassword")</label>
                    <input type="password" id="newPassword" name="newPassword" class="form-control">
                </div>
                <div class="form-group newPasswordConfirm">
                    <label for="newPasswordConfirm">@Messages("newPasswordConfirm")</label>
                    <input type="password" id="newPasswordConfirm" name="newPasswordConfirm"  class="form-control">
                </div>
                <div class="validateForm">
                    <button class="btn btn-user btn-block" type="submit" onclick>@Messages("validateForm") <i class="fa fa-check"></i></button>
                </div>
            </form>
        </div>

        <div class="notificationFrom">
            <p>@Messages("titleNotificationFrom")</p>
            <div>
                    <!--TODO : voir si utilisateursSuivis ou utilisateursSuivis() -->
                <input type="text"  class="form-control z-index-3"/>
                <select id="searchContact-select2" class="form-control select2-respo-projet" style="width:100%;" multiple>
                    @for(user <- Login.getUtilisateurConnecte.utilisateursPouvantEtreSuivis()){
                        @if(Login.getUtilisateurConnecte.utilisateursSuivis.contains(user)){
                            <option value="@user.email" selected>@user.prenom @user.nom</option>
                        } else {
                            <option value="@user.email">@user.prenom @user.nom</option>
                        }
                    }
                </select>
            </div>

            <div class="list-personnes-notifiees">
                <table class="table-bordered">
                    <tbody>
                        @for(userSuivi <- Login.getUtilisateurConnecte.utilisateursSuivis){
                            <tr>
                                <td class="first-td">userSuivi.prenom userSuivi.nom - userSuivi.email</td>
                                <td class="td-btn-suppr" style="vertical-align:middle ;"><i class="fa fa-times"></i></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="notificationSettings">
            <div class="checkbox checkbox-success checkbox-circle">
                @if(Login.getUtilisateurConnecte().recevoirNotifPourMesActions){
                    <input id="checkbox-changes" type="checkbox" checked>
                } else {
                    <input id="checkbox-changes" type="checkbox">
                }
                <label for="checkbox-changes">
                @Messages("checkbox-changes")
                </label>
            </div>
            <div class="checkbox checkbox-success checkbox-circle">
                @if(Login.getUtilisateurConnecte().recevoirNotifPourMesTachesPresqueFinies){
                    <input id="checkbox-tasks-almost-finish" type="checkbox" checked>
                } else {
                    <input id="checkbox-tasks-almost-finish" type="checkbox" >
                }
                <label for="checkbox-tasks-almost-finish">
                @Messages("checkbox-tasks-almost-finish")
                </label>
            </div>
            <div class="checkbox checkbox-success checkbox-circle">
                @if(Login.getUtilisateurConnecte().recevoirNotifPourMesTachesRetardees){
                    <input id="checkbox-tasks-late" type="checkbox" checked>
                } else {
                    <input id="checkbox-tasks-late" type="checkbox">
                }
                <label for="checkbox-tasks-late">
                @Messages("checkbox-tasks-late")
                </label>
            </div>
        </div>
    </div>
</div>